<template>
  <main-layout>
    <div class="home">
    	<div class="container is-fluid is-fullhd">
        <button class="btn btn-primary" >adassdads{{ isImageModalActive }}</button>
        <button class="button is-primary is-medium" @click="isImageModalActive = true" >Launch image modal</button>
      <div>
        <div v-for="data in myJson">
        {{ data.name }}
        {{ data.filesize}}
        {{ data.dimension[0].width}}x{{data.dimension[0].height}}
        </div>
      </div>

      <table class="table is-fullwidth list" >
          <thead>
          <tr>
            <td>Logo </td>
            <td>Resolution</td>
            <td>Filesize <span @click="showgrid"class="fa fa-th-large icon-grid-list" ></span></td>
          </tr>
          </thead>
          <tbody>
          <tr @click="showLogo " class="" v-bind:class="{ 'active-table-row': activerow}" v-for="data in myJson">
            <td><img src="../imgs/fileicons/ai.png"><span class="list-d-n">{{ data.name }}</span></td>
            <td>{{ data.dimension[0].width}}x{{data.dimension[0].height}}</td>
            <td>{{ data.filesize}}
            
            <span v-bind:class="{ 'icon-trash': deletebtn,'icon-trash-select':deletebtn}"class="fa fa-trash-o "></span>
            
            </td>
          </tr>
          <div class="card">
          <div class="card-image">
            <figure class="image is-4by3 " @click="pickershow" v-bind:style="{'background-color': bgc}">
            <sketch class="picker" v-model="colors" @change-color="onChange" v-if="picker"></sketch>
            </figure>
          </div>
          </div>
            
          </tbody>
        </table>
      <br><br><br><br>
    <h1>i want to acces just a first objects and it's file name</h1>  
<!--     <div class="hero is-medium is-info"> 
    <lottie :options="defaultOptions" v-on:animCreated="handleAnimation"/>
    </div> -->
    
   		</div>
      <div class="container">
        <div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">One</p>
      <p class="subtitle">Subtitle</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Two</p>
      <p class="subtitle">Subtitle</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Three</p>
      <p class="subtitle">Subtitle</p>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Four</p>
      <p class="subtitle">Subtitle</p>
    </article>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-vertical is-9">
    <div class="tile">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Five</p>
          <p class="subtitle">Subtitle</p>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
          </div>
        </article>
      </div>
      <div class="tile is-8 is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">Six</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">Seven</p>
              <p class="subtitle">Subtitle</p>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child box">
            <p class="title">Eight</p>
            <p class="subtitle">Subtitle</p>
          </article>
        </div>
      </div>
    </div>
    <div class="tile">
      <div class="tile is-8 is-parent">
        <article class="tile is-child box">
          <p class="title">Nine</p>
          <p class="subtitle">Subtitle</p>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
          </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">Ten</p>
          <p class="subtitle">Subtitle</p>
          <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <div class="content">
        <p class="title">Eleven</p>
        <p class="subtitle">Subtitle</p>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
          <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
        </div>
      </div>
    </article>
  </div>
</div>

<div class="tile is-ancestor">
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Twelve</p>
      <p class="subtitle">Subtitle</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.</p>
      </div>
    </article>
  </div>
  <div class="tile is-parent is-6">
    <article class="tile is-child box">
      <p class="title">Thirteen</p>
      <p class="subtitle">Subtitle</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
      </div>
    </article>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title">Fourteen</p>
      <p class="subtitle">Subtitle</p>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut.</p>
      </div>
    </article>
  </div>
</div>

      </div>
   </div>
  </main-layout>
</template>

<script>
 
  import MainLayout from '../layouts/Main.vue'
  import json from '.././json/data.json'
  import { Sketch } from 'vue-color'
  import Lottie  from '../pages/lottie.vue'
  import * as animationData from '.././json/weld2.json';
  export default {
  name: 'app',
  components: {
    Sketch,
    MainLayout,
    Lottie
  },
  data () {
    return {
      defaultOptions: {animationData: animationData},
        animationSpeed: 1,
      myJson:json[0].file,
      picker:false,
      colors: {
        hex: '#194d33',
        hsl: {
          h: 150,
          s: 0.5,
          l: 0.2,
          a: 1
        },
        hsv: {
          h: 150,
          s: 0.66,
          v: 0.30,
          a: 1
        },
        rgba: {
          r: 25,
          g: 77,
          b: 51,
          a: 1
        },
        a: 1
      }
    }
  },
  methods: {
        // onChange method called when the event 'change-color' is emitted
    onChange (val) {
      this.colors = val
    },
    pickershow:function(){
      this.picker^=true
    },
    handleAnimation: function (anim) {
        this.anim = anim;
      },

      stop: function () {
        this.anim.stop();
      },

      play: function () {
        this.anim.play();
      },

      pause: function () {
        this.anim.pause();
      },

      onSpeedChange: function () {
        this.anim.setSpeed(this.animationSpeed);
      }
  },
  computed: {
    bgc () {
      return this.colors.hex
    }
  }
}

</script>	
<style scoped>
.picker{
  z-index: 1000;
  position: absolute !important;
  top: 0
}

</style>