<template>
          <div class="card">
            <div class="card-content">
              <div class="content">
               
              <div class="discription ">
                 <h1>NOT Available for the demo at the moment</h1>
              </div>
              <!-- <br>
              <div class="field is-horizontal columns">
                <div class="field-body column  ">
                  <div class="field">
                    <div class="control">
                      <input class="input is-large" type="text" placeholder="Brand Name">
                    </div>

                  </div>

                </div>

                </div> -->
                 <button class="button is-info " @click="$parent.close()">Take me home</button>

              </div>
            </div>
          </div>
</template>
<style scoped>
 .card{
    border-radius: 0px ;
    border:0px transparent;
    box-shadow: 0 0 0 rgba(10, 10, 10, 0), 0 0 0 1px rgba(10, 10, 10, 0);
    overflow: hidden;
  }
  .columns{
    justify-content: space-around;
  }
  .is-info{
    background: #0070e0;
   } .card{
  padding: 1em;
 }
</style>
<script>
 export default {
  props: [
      'modalvar'
    ],

  }
</script>