<template>
  <main-layout>
    <div class="home">
      <div class="container is-fluid is-fullhd">
      <div class="columns">
        <section class="section column is-three-quarters-desktop is-mobile is-tablet">
          <br>
        <h1 class="title">Help</h1>
        <p>Let us know what and where we can imporve to build a better solution</p>
        <div class="field">
          <div class="control">
            <textarea class="textarea " type="text" placeholder="Write your queries"></textarea>
          </div>
          <div class="control">
          <br>
          </div>
          <div class="control">
          <button class="button is-info">Submit your query</button>
          </div>
        </div>
        </section>
        
      </div>

     </div>
   </div>
  </main-layout>
</template>

<script>
 
  import MainLayout from '../layouts/Main.vue'
  import json from '.././json/data.json'
  import { Sketch } from 'vue-color'
  import Lottie  from '../pages/Lottie.vue'
  import * as animationData from '.././json/andata.json';
  export default {
  name: 'app',
  components: {
    MainLayout
  },
  data () {
    return {

    }
  },
  methods: {
 
  },

}

</script>	
<style scoped>
.picker{
  z-index: 1000;
  position: absolute !important;
  top: 0
}

</style>