<template>
<div>
	<!-- <lottie :options="defaultOptions"  v-on:animCreated="handleAnimation"/> -->
	<section class="head1Bg">
		
	<div class="container ">
	<div class="head">
	<section class="hero is-fullheight is-medium-touch ">
		<div class="top section "></div>
			<div class="nav">
			<img src="dist/header_logo.svg"/>
		</div>
	  <div class="hero-body hero-nopad">
	    <div class="columns">
	    <div class="column is-half">
				<div class="">
					<div>
						<h1 class="title is-2 has-text-weight-normal">Smartest brand <span class="is-success brand-text">management</span>
						<br>for small companies</h1>
						<br>
						<p>Brandsaviour is both a asset manager and unified communicator for
						your brand that helps you manage and share your asset is every channel
						while saving the most of your time.   </p>
						<br>
						<button class="button demo is-3" @click="dashboardin()">Get Started Free</button>
						<!-- <button class="button demo brand-color-button" @click="this.window.open('/dashboard');">Test Demo</button> -->
					</div>
				</div>
	    </div>
	    <div class="column is-half header-ship">
	    	<div class="">
		   		<div class=" has-text-centered">
		   			<img src="dist/laptop-white.svg"  class="laptop" style=" background-image: url(dist/mockup-picture.jpg);">
		   		</div>
	   		</div>
	    </div>
	    </div>
	   
	  </div>
		<div class="has-text-centered">
		 <span class="scroll-btn" v-scroll-to="'#second'">
			<a href="#">
				<span class="mouse">
					<span>
					</span>
				</span>
			</a>
		</span>
		</div>
	</section>	
	</div>
	</div>
	</section>
	<div class="second-section" id="second">
	</div>
	<div class="third-section">

	<section class="hero is-medium  ">
      <div class="hero-body">
        <div class="container ">
        <h1 class="title has-text-centered">
			Make your branding consistent universally!
		</h1>
		<br>
		<div class="tile is-ancestor">
		  <div class="tile is-vertical is-4">
		    <div class="tile ">
		      <div class="tile is-parent tile-class">
		        <article class="tile is-child has-text-centered" id="second2">
		          <img src="dist/green-circle.svg">
					<p class="title is-3">Phone or desktop, share your brand assets with anyone and anywhere.</p>
		        </article>
		      </div>
		    </div>
		  </div>
		  <div class="tile  is-4">
		    <div class="tile">
		      <div class="tile is-parent tile-class">
		        <article class="tile is-child has-text-centered" id="first1">
		          <img src="dist/yellow-circle.svg">
		          <p class="title is-3">One place for all your assets. Manage your brand assets in the cloud.
		          	</p>
		        </article>
		        <br><br><br>
		      </div>
		    </div>
		  </div>
		  <div class="tile  is-4">
		    <div class="tile">
		      <div class="tile is-parent tile-class">
		       <article class="tile is-child has-text-centered" id="third3">
		          	<img src="dist/red-circle.svg">
					<p class="title is-3">Download and convert all your digital assets any format, anytime.</p>
				</article>
		      </div>
		    </div>
		  </div>
		</div>
       <!--  <a class="twitter-hashtag-button" target="_blank" href="" onclick="window.open('https://twitter.com/intent/tweet?button_hashtag=trybrandsaviour', 'newwindow', 'width=500,height=250'); return false;">
          <h1 class="twitter">#trybrandsaviour</h1>
        </a> -->
        </div>
      </div>
    </section>
	</div>
	<div>
	<section>
		<label class="switch mt-5">
	        <input type="checkbox" checked>
	        <span class="slider-switch round">
	            <span class="switch-non">Pro Plan</span>
	            <span class="switch-oui">Free Plan</span>
	        </span>
	    </label>
    </section>
	</div>
	<div class="four-section">
	<section class="hero is-medium  ">
	  <div class="hero-body">
	    <div class="container">
	    <div class="column has-text-centered">
	      <h1 class="title is-2">Have suggestions?</h1>
	      <h2 class="title is-5">Drop us a line and let's get the conversation<br>We are available at: mayday@brandsaviour.com
	      </h2>
	      <div class="column is-half has-text-centered form-bottom">
	     
			<div id="mc_embed_signup">
			<form v-on:submit.prevent="sendMessage" id="suggestions">
			    <div id="mc_embed_signup_scroll">
			<div class="mc-field-group">
				<input type="email" v-model="newmessage.email" name="EMAIL" class="required email " id="mce-EMAIL" placeholder="Email" required><br><br>
				<textarea v-model="newmessage.message"  rows="5" placeholder="Message" required> </textarea>
			</div>

				<div id="mce-responses" class="clear">

				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

			    <div class="clear">

			    	<input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="demo">
			    </div>
			    </div>
			</form>
			</div>
	</div>
	    </div>

	    </div>
	  </div>
	</section>
	</div>
	<div class="footer-section">
	<section class="hero ">
	  <div class="hero-body">
	    <div class="container">
	    <div class="columns">
	    	<div class="column "><img class="footer-logo" src="dist/footer_logo.svg"/></div>
	    	<div class="column has-text-right-tablet contact"><p class="">mayday@brandsaviour.com</p></div>
	    	<div class="column ">
	    	<div class="social ">
	    	<a href="https://www.facebook.com/brandsaviour" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	    	<a href="https://twitter.com/trybrandsaviour" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	    	<!-- <i class="fa fa-dribbble" aria-hidden="true"></i> -->
	    	<a href="https://www.instagram.com/brandsaviour" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	    	<!-- <i class="fa fa-linkedin-square" aria-hidden="true"></i> -->
	    	</div>
	    	</div>
	    </div>
	    <div class="sub-footer has-text-centered">
	    	<p>2017 &copy; Twoodots Studio All right Reserved</p>
	    	
	    </div>
	    </div>
	  </div>
	</section>
	</div>
</div>
</template>
<script>
	import Lottie  from '../pages/Lottie.vue'
	import * as animationData from '.././json/andata.json'
	 import Firebase from 'firebase'

	  let config = {
	      apiKey: "AIzaSyANZuq-2nVqG8aYvQEpK0HTBceT1y87k7c",
	      authDomain: "brandsaviour.firebaseapp.com",
	      databaseURL: "https://brandsaviour.firebaseio.com",
	      projectId: "brandsaviour",
	      storageBucket: "brandsaviour.appspot.com",
	      messagingSenderId: "651832150306"
	  }
	  let wapp = Firebase.initializeApp(config);
	  let db = wapp.database();
	  let subref = db.ref('message');
	  	console.log(subref);
	export default {
		name:'wapp',
		firebase:{
			messages:subref
		},
	  components: {
	    Lottie
	  },	
	data () {
    return {
      defaultOptions: {animationData: animationData},
      newmessage: {
      	email:'',
      	message:'',
      	username:localStorage.getItem("username"),
        token:localStorage.getItem("token"),
      }
  	}
	},
	methods:{
		sendMessage:function(){
			
		subref.push(this.newmessage)
		this.$toast.open({
	            message: 'Your message has been sent we will get to you shortly',
	            duration: 8000,
            })
		this.newmessage.email="";
		this.newmessage.message="";
		},
		dashboardin:function(){
		if (localStorage.getItem("username") == undefined) {
			window.location ="/login"
		} 
		else {
			window.location ="/demo"
		}
		}
	},

}
</script>
<style scoped>
section {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -ms-flex-wrap: wrap;
     flex-wrap: wrap;
}
.media-img { 
 min-width: 0;
 margin: 12px;
 }
.media-img img {
padding-bottom: 5px;
 width: 150px;
 max-width: 100%; 
 max-height: 450px; 
 }
 .brands-assets-head{
 	font-weight: 600;
 }
.brands-assets{
	padding: 2em;
	
}
#mc_embed_signup .button{
	padding:6px 24px;
	line-height: 16px;
	font-size: 16px;
	height: 36px;
}
#mc_embed_signup .input{
	border: 0px solid transparent;
	line-height: 16px;
	font-size: 16px;
	height: 36px;
}
#mc_embed_signup input[type='submit'] {
    border: 0px solid #ABB0B2;
}
#mc_embed_signup form{
    padding: 10px 0 10px 0%;
}
.head .columns:not(.is-desktop){
	-webkit-box-flex: inherit;
	    -ms-flex-positive: inherit;
	        flex-grow: inherit;
}
.device-h{
	height: 100vh;
}
.top{
	padding: 2rem 1.5rem; 
}
.is-info{
	background: #006de4 !important;
}
.is-success{
	color: #00b66d;
   
}
.brand-color{
	-webkit-animation-name: animation;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;    
    -webkit-animation-play-state: running;
    
    -moz-animation-name: animation;
    -moz-animation-duration: 10s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;    
    -moz-animation-play-state: running;

    animation-name: animation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;    
    animation-play-state: running;
}

@-webkit-keyframes animation-btn {
    0%     	{background-color: #339ee6 !important;
			-webkit-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
			        -moz-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
			        box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
			}
    25.0%  {background-color: #f1474e !important;
			-webkit-box-shadow: 0 6px 24px 0 rgba(241, 71, 78, 0.5)!important;
			        -moz-box-shadow: 0 6px 24px 0 rgba(241, 71, 78, 0.5)!important;
			        box-shadow: 0 6px 24px 0 rgba(241, 71, 78, 0.5)!important;
			}
    50.0%  {background-color: #e6bc00 !important;
			-webkit-box-shadow: 0 6px 24px 0 rgba(230, 188, 0, 0.5)!important;
			        -moz-box-shadow: 0 6px 24px 0 rgba(230, 188, 0, 0.5)!important;
			        box-shadow: 0 6px 24px 0 rgba(230, 188, 0, 0.5)!important;
			}  
    75.0%  {background-color: #00b66d !important;
			-webkit-box-shadow: 0 6px 24px 0 rgba(0, 182, 109, 0.5)!important;
			        -moz-box-shadow: 0 6px 24px 0 rgba(0, 182, 109, 0.5)!important;
			        box-shadow: 0 6px 24px 0 rgba(0, 182, 109, 0.5)!important;
			}
    100.0%  {background-color: #339ee6 !important;
			-webkit-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
			        -moz-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
			        box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
			}
}

@keyframes animation-btn {
    0%     	{background-color: #339ee6 !important;
			-webkit-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
			        -moz-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
			        box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
			}
    25.0%  {background-color: #f1474e !important;
			-webkit-box-shadow: 0 6px 24px 0 rgba(241, 71, 78, 0.5)!important;
			        -moz-box-shadow: 0 6px 24px 0 rgba(241, 71, 78, 0.5)!important;
			        box-shadow: 0 6px 24px 0 rgba(241, 71, 78, 0.5)!important;
			}
    50.0%  {background-color: #e6bc00 !important;
			-webkit-box-shadow: 0 6px 24px 0 rgba(230, 188, 0, 0.5)!important;
			        -moz-box-shadow: 0 6px 24px 0 rgba(230, 188, 0, 0.5)!important;
			        box-shadow: 0 6px 24px 0 rgba(230, 188, 0, 0.5)!important;
			}  
    75.0%  {background-color: #00b66d !important;
			-webkit-box-shadow: 0 6px 24px 0 rgba(0, 182, 109, 0.5)!important;
			        -moz-box-shadow: 0 6px 24px 0 rgba(0, 182, 109, 0.5)!important;
			        box-shadow: 0 6px 24px 0 rgba(0, 182, 109, 0.5)!important;
			}
    100.0%  {background-color: #339ee6 !important;
			-webkit-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
			        -moz-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
			        box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
			}
}
@-webkit-keyframes animation {
    0%     {color:#339ee6;}
    25.0%  {color:#f1474e;}
    50.0%  {color:#e6bc00;}   
    75.0%  {color:#00b66d;}
    100.0%  {color:#339ee6;}
}

@keyframes animation {
    0%     {color:#339ee6;}
    25.0%  {color:#f1474e;}
    50.0%  {color:#e6bc00;}   
    75.0%  {color:#00b66d;}
    100.0%  {color:#339ee6;}
}
.nav{
	-webkit-box-shadow: 0 0 0 transparent;
	        box-shadow: 0 0 0 transparent;
}
.nav img{
  width: 142px;
}
.columns:not(:last-child){
	margin-bottom: 0rem;
}
.hero-body{
	padding: 3rem 0rem;
}
.hero-nopad{
	padding: 1rem 0rem;
}
.nav-right-l{
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.nav-right-l button{
		right: 0;    
	}
.header{
	margin-bottom: 95px;
	margin-top:120px;
}


form .demo{

		padding:6px 24px;
	line-height: 16px;
	font-size: 16px;
	height: 36px;
	margin: 0 auto !important;
	position: relative !important;
	border: 0 solid transparent;
  border-radius: 1000px !important;
  background-color: #339ee6 !important;
  -webkit-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
          box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
  color:white;
}
.demo{
	position: absolute;
	border: 0 solid transparent;
  border-radius: 1000px !important;
  background-color: #339ee6 !important;
  padding: 6px 24px;
  -webkit-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
          box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!important;
  color:white;
}
.demo:hover{
  -webkit-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.4)!important;
          box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.4)!important;
}
#mc_embed_signup .mc-field-group input{
	border-top:none;
	border-right: none;
	border-left: none;
	border-radius: 0;
}
#mc_embed_signup .mc-field-group input{
	text-indent: 0.4%;
	}
.title:not(:last-child), .subtitle:not(:last-child){
	margin-bottom: 0.5em;
	}
	.fa-3x{
		    font-size: 3em !important;
	}
	.tile img{
		width:70%;
		margin-bottom:30px;
	}
.tile-class{
	padding: 20px;
}
.margin-minus{
	margin-bottom: -25px;
	margin-top: -100px
}
.tile .is-not-child{
	padding:1px !important;
	font-weight: 500;
	border-radius: 0!important;
	background-color: #ffffff!important;
	-webkit-box-shadow: 0 0 0 0 rgba(51, 158, 230, 0.0)!important;
	        box-shadow: 0 0 0 0 rgba(51, 158, 230, 0.0)!important;
}
.tile .is-not-child p{
	font-weight: 600;
	line-height: 1.8;
}
.tile .is-child{
	padding:45px ;
	border-radius: 5px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 3px 14px 0 rgba(51, 158, 230, 0.16);
	        box-shadow: 0 3px 14px 0 rgba(51, 158, 230, 0.16);
}
.tile .is-child{

}
.title.is-3{
	font-weight:normal;
	color:#77879d;
	font-size:1.3rem;
	line-height: 1;
	padding-top: 1.5em;
}
.form-bottom{
	margin: 0 auto;
}
.brand-section img{
}
.twitter{
	padding-top: 50px;
	color:#00C0FC;
	padding-bottom: 20px;
}
.twitter-font{
	font-size: 2em;
	font-weight: 600;
	color:#339ee6;
	text-decoration: none !important;
}
a:hover{
	text-decoration:none;
}
#first1{
	position:relative;
	top:30px;
			-webkit-box-shadow: 0 3px 18px 0 rgba(201, 201, 201, 0.15) !important;
		        box-shadow: 0 3px 18px 0 rgba(201, 201, 201, 0.15) !important;
}
#second2{
		-webkit-box-shadow: 0 3px 18px 0 rgba(201, 201, 201, 0.15) !important;
		        box-shadow: 0 3px 18px 0 rgba(201, 201, 201, 0.15) !important;
}
#third3{
		-webkit-box-shadow: 0 3px 18px 0 rgba(201, 201, 201, 0.15) !imgportant;
		        box-shadow: 0 3px 18px 0 rgba(201, 201, 201, 0.15) !important;
}
#fourth4{
		-webkit-box-shadow: 0 3px 18px 0 rgba(201, 201, 201, 0.15) !important;
		        box-shadow: 0 3px 18px 0 rgba(201, 201, 201, 0.15) !important;
}
.twitter-font a:hover{
	text-decoration: none !important;
}
.laptop{
  
    top: 0;
    background-position: center;
    background-size: 78%;
    background-repeat: no-repeat;
}
.header-ship{
	margin-top: 0px;
}
.header h1:first-child{
	margin-bottom: 0rem;
}
.header h1:last-child{
	margin-bottom: 10px;
}
.notify-input{
	border-radius: 5px;
	width: 100%;
}

.notify{
	width: 150px;
	color: #cfdce5 !important;
	border-radius: 5px;
	vertical-align: middle;
	}
input {
  outline: none;
  padding: 16px;
  border: solid 0.5px #232323;

}
textarea{
	resize: none;
	width: 100%;
	border-right:none;
	border-top:none;
	border-left:none;
}
textarea:focus{
	outline: none;
	resize: none;
	width: 100%;
	border-right:none;
	border-top:none;
	border-left:none;
	color:#666666;
}

::-webkit-input-placeholder { /* Chrome */
  color: #666666;
   padding: -18px;
  font-size: 16px;
  -webkit-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {2
	font-size: 14px;
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #666666;
   padding: -18px;
  font-size: 14px;
  -webkit-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #666666;
   padding: -18px;
  font-size: 14px;
  -webkit-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #666666;
   padding: -18px;
  font-size: 14px;
  -webkit-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0.5;
}
.notify  {
	margin-top: 15px;
	font-size: 16px !important;
  	
	}
.second-section{
	background: #fff;
}

.second-section .hero{
	background: #fff;
}
.details-p {
	font-size: 18px;
	color:#666666;
}
.third-section .hero{
	background: #fff;
}

.third-section h1{
    margin-bottom: 0rem;
}
.twitter{
	font-weight:900;
}
.header-ship{
	display: block;
	}	
.four-section .field{
	padding-top: 40px
}
.footer-section .hero{
	background: #232323;
}
.footer-logo{
	width: 142px;
}
.footer-section p{
	color: #fff !important;
}
.social{
	float: right !important;
}	
.social  a{
	color: #fff;
	margin-right: 14px;
}
.social i:last-child{
	margin-right: 0;
}
.contact{
	text-align: center
}
.sub-footer{
	margin-top:80px;
}
.sub-footer p{
	margin-bottom:0;
	opacity: .44;
}
.details{
	width: 50%
}
.notices .toast .is-info {
    color: #fff;
    background: #339ee6 !important;
    }

@media (min-width: 1600px){
.container {
    width: 1540px !important;
    max-width: 100% !important;
}
}
@media (min-width: 1200px){
.container {
    width: 1140px;
    max-width: 100%;
}
}
@media screen and (min-width: 769px){
	.header-ship2{
		display: none;
	}	
}
	@media screen and (max-width: 768px) {
		.social{
			float: left !important;
		}
		.contact{
			text-align: left;
		}
		.notify-input{
			width: 80%;
			padding-right: 0;
		}
		.header-ship2{
			width: 250px;
		}	
		.header-ship{
			display: none;
		}
	}
	@media screen and (max-width: 414px) {
	.header{
		margin-bottom: 0;
		margin-top: 0;
	}

}
@media screen and (max-width: 375px) {
	.top{
	padding: 1rem 1.5rem; 
	}
	.tile .is-not-child p{
	font-weight: 600;
	line-height:1;
	text-align: center;
	}
	.media-img { 
	 min-width: 0;
	 margin: 18px;
	 }
	.media-img img {
	padding-bottom: 5px;
	 width: 100px;
	 max-width: 100%; 
	 max-height: 450px; 
	 }
	.twitter-font{
		font-size: 1.5em;
	}
	.header-ship{
		position: absolute;
		top: 12%;
		right: -70%;
		display: none;
	}
	.notify-input{
		width: 100%;
		padding-right: 0;
	}
	.header{
		margin-bottom: 0;
		margin-top: 0;
	}
	.hero-body{
		padding: 3rem 0rem;
	}
	.header-ship2{
		width: 250px;
	}	
		.header h1[data-v-29090072]{
		margin-bottom: 0px;
		font-size: 40px;
	}
}
@media screen and (max-width: 320px) {

	.header-ship2{
		width: 150px;
	}	
	.header h1[data-v-29090072]{
		margin-bottom: 0px;
		font-size: 40px;
	}
}

/*animation*/
@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;

	text-align: center;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #0070e0;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #0070e0;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 25px;
	height: 40px;
	margin: 0 auto 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #0070e0;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: #0070e0;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}	
.brand-text{
	font-weight: 600;
}
.brand-color-button{
    -moz-animation-name: animation-btn;
    -moz-animation-duration: 10s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-iteration-count: infinite;    
    -moz-animation-play-state: running;   
	
	-webkit-animation-name: animation-btn;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;    
	-webkit-animation-play-state: running;

	animation-name: animation-btn;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;    
	animation-play-state: running;

}


@-webkit-keyframes animation-btn {
    0%     	{background-color: #339ee6 ;
			-webkit-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5);
			        box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5);
			}
    25.0%  {background-color: #f1474e ;
			-webkit-box-shadow: 0 6px 24px 0 rgba(241, 71, 78, 0.5);
			        box-shadow: 0 6px 24px 0 rgba(241, 71, 78, 0.5);
			}
    50.0%  {background-color: #e6bc00 ;
			-webkit-box-shadow: 0 6px 24px 0 rgba(230, 188, 0, 0.5);
			        box-shadow: 0 6px 24px 0 rgba(230, 188, 0, 0.5);
			}  
    75.0%  {background-color: #00b66d ;
			-webkit-box-shadow: 0 6px 24px 0 rgba(0, 182, 109, 0.5);
			        box-shadow: 0 6px 24px 0 rgba(0, 182, 109, 0.5);
			}
    100.0%  {background-color: #339ee6 ;
			-webkit-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5);
			        box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5);
			}
}

@keyframes animation-btn {
       0%   {background-color: #339ee6 ;
			-webkit-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5);
			        box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5);
			}
    25.0%  {background-color: #f1474e ;
			-webkit-box-shadow: 0 6px 24px 0 rgba(241, 71, 78, 0.5);
			        box-shadow: 0 6px 24px 0 rgba(241, 71, 78, 0.5);
			}
    50.0%  {background-color: #e6bc00 ;
			-webkit-box-shadow: 0 6px 24px 0 rgba(230, 188, 0, 0.5);
			        box-shadow: 0 6px 24px 0 rgba(230, 188, 0, 0.5);
			}  
    75.0%  {background-color: #00b66d ;
			-webkit-box-shadow: 0 6px 24px 0 rgba(0, 182, 109, 0.5);
			        box-shadow: 0 6px 24px 0 rgba(0, 182, 109, 0.5);
			}
    100.0%  {background-color: #339ee6 ;
			-webkit-box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!;
			        box-shadow: 0 6px 24px 0 rgba(51, 158, 230, 0.5)!;
			}
}

@-webkit-keyframes animation {
    0%     {color:#339ee6;}
    25.0%  {color:#f1474e;}
    50.0%  {color:#e6bc00;}   
    75.0%  {color:#00b66d;}
    100.0%  {color:#339ee6;}
}

@keyframes animation {
    0%     {color:#339ee6;}
    25.0%  {color:#f1474e;}
    50.0%  {color:#e6bc00;}   
    75.0%  {color:#00b66d;}
    100.0%  {color:#339ee6;}
}

	@media screen and (max-width: 768px) {
	    .hidden-mobile-index {
		  display: none !important;
		  visibility: hidden !important;
		  padding: 0 !important;
		  margin: 0 !important;
		}
	}
	@media screen and (min-width: 768px) {
	.show-mobile-index{
	  	display: none !important;
		visibility: hidden !important;
	}

	}
	.head1Bg{
		background-position:top right;
		background-size:contain;
		background-repeat:no-repeat;
		background-image:url('../../images/background.png')
	}

.switch {
    position: relative;
    display: inline-block;
    width: 270px;
    height: 50px;
  }
  
  .switch input {display:none;}
  
  .slider-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e8e8e8;
    -webkit-transition: .4s;
    transition: .4s;
    user-select: none;
  }
  
  .slider-switch:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 132px;
    left: 7px;
    bottom: 5px;
    background-color: #FFF;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider-switch {
    background-color: #e8e8e8;
  }
  
  input:focus + .slider-switch {
    box-shadow: 0 0 1px #5283ff;
  }
  
  input:checked + .slider-switch:before{
    -webkit-transform: translateX(124px);
    -ms-transform: translateX(124px);
    transform: translateX(124px);
    background-color: #5283ff;
  }
  
  /* Rounded slids */
  .slider-switch.round {
    border-radius: 34px;
  }
  
  .slider-switch.round:before {
    border-radius: 34px;
  }
  .slider-switch.square:before {
    border-radius: 4px;
  }
  
  .switch-non {
    position: absolute;
    top: 50%;
    transform: translate(100%, -50%);
    left: 15px;
    color: #666666
  }

  .switch-oui {
    position: absolute;
    top: 50%;
    transform: translate(-150%, -50%);
    right: 15px;color: #5283ff;
  }

  input:checked + .slider-switch > .switch-oui {
    color: #FFF
  }
</style>