<template>
	<main-layout>
		<div class="container ">
		<div class="columns ">
			<div class="column"><br><br><br><br><br><br>
				<div class="column is-half is-offset-one-quarter">
				<img src="../imgs/logo.png">
				<br><br>
				<form  v-on:submit.prevent="loginuser()">
				<h2 class="title">Login</h2>
					<div class="field">
					<span>Your mail address</span>
				  <p class="control ">
				    <input class="input is-medium" type="text" placeholder="Username" v-model="username" required>
				  </p>
				</div>
				<div class="field">
				<span>Password</span><span class="forgot"><a>forgot password</a></span>
				  <p class="controlt">
				   	<input class="input is-medium" type="password" placeholder="Password" v-model="password" required>
				  </p>
				</div>
				<div class="field">
			  	<p class="control">
			    <a href="#"> 
			    	<input type="submit" class="button is-medium"  value="Login to existing account">
			    </a>
			   <!--  {{token}} -->
			  	</p>
			  </div>
			  	</form>
			  <span class="addit"><a href="/signup">don't have an account? sign up</a></span><br>
			</div>
			</div>
		</div>
		</div> 
		</div>
  </main-layout>
</template>
<script>

import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import qs from 'qs'
import axios from 'axios'
  export default {
	components:{
		PulseLoader
	},
    data: function(){
        return {
       	  username:'',
       	  password:'',
       	  token:'',
       	  token:'',
          loginsucces:false
        }
      },
    methods:{
	loginuser() {
		axios({
			method: 'post',
			url: 'https://brandsaviouragain.azurewebsites.net/token',
			headers: {
				'Content-Type':'application/x-www-form-urlencoded'
			},
			data: qs.stringify({
				username:this.username,
				password:this.password,
				grant_type:'password'
			})
	    	}).then(response => {
	    	console.log(response)	
	    		this.token = response.data.access_token	
				// Store
				localStorage.setItem("token",this.token);
				localStorage.setItem("username",this.username);
	    	}).then(()=>{
	    		window.location.replace("/demo")
	    	})
			.catch(error => {
			  	this.$toast.open({
			  		duration: 10000,
                message: 'signing in (unsuccessful)',
                type: 'is-danger'
            	})
            })	           
        },
    },
    
  }
</script>
<style scoped>
.addit{
	color: #0070e0;
}
.addit:hover{
	text-decoration: underline;
}
.forgot{
	display: inline-block;
	float: right;
	text-align: right;
	color: #0070e0;
}
input:focus {
		color: #0070e0;
}
input:focus .fa-envelope-o {
	color: #0070e0;
}
.button{
background: #0070e0;

}

a  input {
	color: #fff;
	text-decoration: none !important;

}
a  input:hover {
	opacity: 0.9;
		color: #fff;
}


</style>