<template>
			<div class="card side-info">
			<div>
			<span class="fa-is-info" @click="$parent.close()">x</span>
			</div>
			  <div class="card-image">
			    <figure class="image is-2by1" :class="{ 'image-fit':mtype != 'PNG','image-fit-png':mtype == 'PNG'}" >
			      <img v-bind:src="msrc" alt="Image">
			    </figure>
			  </div>
			  <div class="card-content">
				    <div class="content">
				    <div class="discription" >
				     <h4 >General Info </h4>
				     <p> {{mname}}</p>
				     <div>
				     	<img :src="'dist/'+ mtype + '.svg'"/>
				     	<p>{{mdimension}}<br>{{size}}</p>
				     </div>
					</div>
					<br>
					<h4 >Conversion</h4>
					<div class="conversion" v-if="type != 'pdf'">
							<div class="file has-text-centered " v-on:click="activeicons(1,filesarr,fileid)" :class="{ 'icon-active-color': activeicon == 1,}">
								<img :src="'dist/'+ mtype + '.svg'"/>	
								<h4>{{ mtype.toUpperCase() }}</h4>
							</div>
							<div class="file has-text-centered " v-on:click="activeicons(2,filesarr,fileid)" :class="{ 'icon-active-color': activeicon == 2,} " v-if="mtype != 'pdf'">
								<img src="dist/pdf.svg" >
								<h4>PDF</h4>
							</div>
							<div class="file has-text-centered " v-on:click="activeicons(3,filesarr,fileid)" :class="{ 'icon-active-color': activeicon == 3,}" v-if="mtype === 'png' || mtype === 'pdf'">
								<img :src="'dist/'+ 'jpeg' +'.svg'"/>
								<h4 >
								 JPEG
								</h4>
							</div>							
							<div class="file has-text-centered " v-on:click="activeicons(4,filesarr,fileid)" :class="{ 'icon-active-color': activeicon == 4,}" v-if="mtype === 'jpeg'|| m === 'pdf'">
								<img :src="'dist/'+ 'PNG' +'.svg'"/>
								<h4 >
								 PNG
								</h4>
							</div>
							<div class="file has-text-centered " v-on:click="activeicons(5,filesarr,fileid)" :class="{ 'icon-active-color': activeicon == 5,}">
								<img src="dist/psd.svg"/>
								<h4>PSD</h4>
							</div>
							</div>
							<form v-if="type != 'pdf'">
							<div class="width">
								<input class="input conv" type="number" name="width" placeholder="250" v-model="width">
								<p>Width(px)</p>
							</div>
							<div class="height">
								<input class="input conv" type="number" name="width" placeholder="250"  v-model="height">
								<p>Height(px)</p>
							</div>
							</form>
							<div class="button-ds">
							<div class="has-text-left" v-if="activeicon == 1">
					  		<a :href="msrc" class="button-block button is-info is-medium has-text-centered " >Download</a>
							</div>
							<div class="has-text-left" v-if="activeicon != 1">
						  		<input type="button" name="" Value="Download" class="button-block button is-info is-medium has-text-centered " @click="downloadfile()">
							</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<div class="">
							<input type="button" name="" Value="Share" class=" button-block button is-success is-medium has-text-centered "  title="Disabled button" @click="Sendmail()">	
							</div>
							</div>
			    </div>
			  </div>
			</div>
</template>

<script>
import axios from 'axios'
var FileSaver = require('file-saver');
 export default {

  props: [
	    'mname',
	    'mtype',
	    'mdimension',
	    'miconsrc',
	    'msrc',
	    'micon',
	    'mmodal',
	    'mdownloadsrc',
	    'mcloseexec',
	    'mfilesarr',
	    'mfileid',
	    'mactiveicons'
  	],
  	methods:{	
  		consolelogs:function(){
  			console.log(mactiveicons)
  		},
		activeicons:function(al,cl,index){
      		this.activeicon = al;
      		
      		if(this.activeicon == 1){
      			this.downtype = null
      		}
      		else if(this.activeicon == 2){
      			
      			this.downtype = 'pdf'
      		}      		
      		else if(this.activeicon == 3){
      			this.downtype = 'jpg'
      		}      		
      		else if(this.activeicon == 4){
      			this.downtype = 'png'
      		}      		
      		else if(this.activeicon == 5){
      			this.downtype = 'psd'
      		}      		
      		else if(this.activeicon == 6){
      			this.downtype = 'jpg'
      		}
      		console.log(cl);

      	},
      	downloadfile:function(){
      		alert(this.fileid)
      		axios({
  			method: 'get',
			url:'https://brandsaviouragain.azurewebsites.net/api/Download/DownloadBlob/'+ this.mfileid + '/' + this.width + '/' + this.height+ '/'+ this.downtype + '/'+ this.username,

			responseType: "arraybuffer",
			headers: {
				'Content-Type':'application/json',
				'Authorization': 'Bearer ' + this.token,
			}
	    	}).then(response => {
			console.log(response)
			
			var arrayBuffer = response.data;
			var content = response.headers["content-type"];
			var blob = new Blob([response.data], {type: content});
			FileSaver.saveAs(blob, this.mname.split(".")[0] + '.' + this.downtype);
			
	    	}).then(()=> {
				link.click()
			})
            .catch(function (error) {
                console.log(error);
            });
      	},
      	Sendmail:function(){
        	axios({
  			method: 'post',
			url:'https://brandsaviouragain.azurewebsites.net/api/Email/SendEmail/'+ this.mfileid + '/' +this.username+'/muhharoonaslam@gmail.com/'+ this.downtype + '/' + this.height + '/' + this.width,
			headers: {
				'Content-Type':'application/json',
				'Authorization': 'Bearer ' + this.token,
			}
	    	}).then(response => {
	    		console.log(response)
	    	})
            .catch(function (error) {
                console.log(error);
            });
        },      
      },
    data: function(){
        return {
        	width:0,
        	height:0,
        	fileid:this.mfilesarr,
        	activeicon:1,
        	downtype:null,
	       	// Local Storage Varaible
	        username: localStorage.getItem("username"),
	        token:localStorage.getItem("token"),
	        // Local Storage Varaible
	 }
	 
	 }
	}
</script>
<style scoped>
	.fa-is-info{

	}
	.animation-content {
		width: 500px;
	    max-width: 960px !important;
	    max-height: 100% !important;
	    overflow: scroll !important;
	    overflow-y: hidden  !important;;
	}
	.card{
		display: block;
		border:0px transparent;
		box-shadow: 0 0 0 rgba(10, 10, 10, 0), 0 0 0 1px rgba(10, 10, 10, 0);
	}
	.discription p:not(:last-child), .discription dl:not(:last-child), .discription ol:not(:last-child), .discription ul:not(:last-child), .discription blockquote:not(:last-child), .discription pre:not(:last-child), .discription table:not(:last-child){
		margin-bottom:5px;
		margin-left: 0px;
	}
	.discription p{
		padding-top: 0;
		padding-left:0px;display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.discription img{
		padding-right: 10px
	}
	.discription_d{
		float: right;
	}
	.card > .card-content{
		padding:10px;
	}
	.conversion{
		display: inline-block;	
		padding-bottom:15px;
	}
	.conversion .file{
		display: inline-block;
		padding-right: 10px;
		padding-left: 10px;
		padding-top:6px;
		border-radius: 4px;
	}
	.conversion .file:hover{
		border:solid 1px #0070e0;	
	}
	.icon-active-color{
		background: #e6e8eb;
	}
	.conversion img{
		padding-bottom: 6px;
	}
	.conversion h4{
		margin-bottom: 0.2em;
	}
	.conv{
		width: 100px;
		border-radius: 0;
		margin-right: 0;

	}
	.conversion form{
		margin-bottom: 50px;
	}
	.button-d-s button{
		width: 45%;
		display: inline-block !important;
	}
	.button-d-s button{
    display: flex;
	}
	.button-block{
		display: flex;
		justify-content: space-between;
	}
	.width, .height{
		display: inline-block;
	}
	.primary{
		background:#F7F9FA;
		border: 1px solid #dbdbdb;
		cursor: pointer;
	}

</style>