<template>
      <div class="card">
            <div class="card-content">
              <div class="content">
               
              <div class="discription ">
                 <h1>Subscribe to our list</h1>
              </div>
                    <div id="mc_embed_signup">
      <form action="//brandsaviour.us16.list-manage.com/subscribe/post?u=ff0b3c5c1c3ff40dc7194a512&amp;id=2aab05194c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" v-on:submit="Subscribe" >
          <div id="mc_embed_signup_scroll">
      <div class="mc-field-group">
        <input type="email" value="" name="EMAIL" class="required email " id="mce-EMAIL" placeholder="Request early access leave us your email" required>
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button is-info"></div>
          </div>
      </form>
      </div>

              </div>
            </div>
          </div>
</template>
<style scoped>
 .card{
    border-radius: 0px ;
    border:0px transparent;
    box-shadow: 0 0 0 rgba(10, 10, 10, 0), 0 0 0 1px rgba(10, 10, 10, 0);
    overflow: hidden;
  }
  .columns{
    justify-content: space-around;
  }
  .is-info{
    background: #0070e0;
   } .card{
  padding: 1em;
 }
   #mc_embed_signup form{
        padding: 0px 0 0px 0%;

  }
</style>
<script>
 export default {
  props: [
      'modalvar'
    ],

  }

</script>