<template>
			<div class="card side-info">
			<div>
			<span class="fa-is-info" @click="$parent.close()">x</span>
			</div>
			  <div class="card-image">
			    <figure class="image is-2by1" :class="{ 'image-fit':mtype != 'PNG','image-fit-png':mtype == 'PNG'}" >
			      <img v-bind:src="msrc" alt="Image">
			    </figure>
			  </div>
			  <div class="card-content">
				    <div class="content">
				    <div class="discription" >
				     <h4 >General Info </h4>
				     <p> {{mname}}</p>
				     <div>
				     	<img v-bind:src="micon"/>
				     	<p>{{mdimension}}<br>{{size}}</p>
				     </div>
					</div>
					<br>
					<h4 >Conversion</h4>
					<div class="conversion">
							<div class="file has-text-centered " v-on:click="activeicons(1,fileid)" :class="{ 'icon-active-color':activeicon == 1,}">
								<img :src="micon"/>	
								<h4>{{mtype}}</h4>
							</div>
							<div class="file has-text-centered " v-on:click="activeicons(2,fileid)" :class="{ 'icon-active-color':activeicon == 2,} ">
								<img src="dist/pdf.svg"/>
								<h4>.PDF</h4>
							</div>
							<div class="file has-text-centered " v-on:click="activeicons(3,fileid)" :class="{ 'icon-active-color':activeicon == 3,}">
								<img src="dist/jpg.svg"/>
								<h4>.JPG</h4>
							</div>
							<div class="file has-text-centered " v-on:click="activeicons(4,fileid)" :class="{ 'icon-active-color':activeicon == 4,}">
								<img src="dist/psd.svg"/>
								<h4>.PSD</h4>
							</div>
							</div>
					<form>
				<!-- <div class="width">
						<input class="input conv" type="number" name="width" placeholder="250">
						<p>Width(px)</p>
					</div>
					<div class="height">
						<input class="input conv" type="number" name="width" placeholder="250">
						<p>Height(px)</p>
					</div> -->

					</form>
					<div class="button-ds">
					<div class="has-text-left ">
				  		<a :href="mdownloadsrc" download><input type="button" name="" Value="Download" class="button-block button is-info is-medium has-text-centered " ></a>
				  		
					</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<div class=" ">
					<a href="#" download><input type="button" name="" Value="Share" class=" button-block button is-success is-medium has-text-centered "title="Disabled button" disabled ></a>	
					</div>
					</div>
			    </div>
			  </div>
			</div>
</template>

<script>
 export default {

  props: [
	    'mname',
	    'mtype',
	    'mdimension',
	    'miconsrc',
	    'msrc',
	    'micon',
	    'mmodal',
	    'mdownloadsrc',
	    'mcloseexec',
	    'mfilesarr',
	    'mfileid',
	    'mactiveicons'
  	],
  	methods:{	
  		consolelogs:function(){
  			console.log(mactiveicons)
  		},
  		activeicons:function(al,cl){
      		this.activeicon = al;
      		
      		if(this.activeicon == 1){
      			this.mdownloadsrc = cl.downloadsrc;
	      		console.log(cl.downloadsrc);
      		}
      		else if(this.activeicon == 2){
      			this.mdownloadsrc = cl.downloadsrc1;
      		}      		
      		else if(this.activeicon == 3){
      			this.mdownloadsrc = cl.downloadsrc2;
      		}      		
      		else if(this.activeicon == 4){
      			this.mdownloadsrc = cl.downloadsrc3;
      		}
      		
      	}
     },
    data: function(){
        return {
        	fileid:this.mfilesarr,
        	activeicon:1
	 }
	 
	 }
	}
</script>
<style scoped>
	.fa-is-info{

	}
	.animation-content {
		width: 500px;
	    max-width: 960px !important;
	    max-height: 100% !important;
	    overflow: scroll !important;
	    overflow-y: hidden  !important;;
	}
	.card{
		display: block;
		border:0px transparent;
		box-shadow: 0 0 0 rgba(10, 10, 10, 0), 0 0 0 1px rgba(10, 10, 10, 0);
	}
	.discription p:not(:last-child), .discription dl:not(:last-child), .discription ol:not(:last-child), .discription ul:not(:last-child), .discription blockquote:not(:last-child), .discription pre:not(:last-child), .discription table:not(:last-child){
		margin-bottom:5px;
		margin-left: 0px;
	}
	.discription p{
		padding-top: 0;
		padding-left:0px;display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.discription img{
		padding-right: 10px
	}
	.discription_d{
		float: right;
	}
	.card > .card-content{
		padding:10px;
	}
	.conversion{
		display: inline-block;	
		padding-bottom:15px;
	}
	.conversion .file{
		display: inline-block;
		padding-right: 10px;
		padding-left: 10px;
		padding-top:6px;
		border-radius: 4px;
	}
	.conversion .file:hover{
		border:solid 1px #0070e0;	
	}
	.icon-active-color{
		background: #e6e8eb;
	}
	.conversion img{
		padding-bottom: 6px;
	}
	.conversion h4{
		margin-bottom: 0.2em;
	}
	.conv{
		width: 100px;
		border-radius: 0;
		margin-right: 0;

	}
	.conversion form{
		margin-bottom: 50px;
	}
	.button-d-s button{
		width: 45%;
		display: inline-block !important;
	}
	.button-d-s button{
    display: flex;
	}
	.button-block{
		display: flex;
		justify-content: space-between;
	}
	.width, .height{
		display: inline-block;
	}
	.primary{
		background:#F7F9FA;
		border: 1px solid #dbdbdb;
		cursor: pointer;
	}

</style>