<template>
  <main-layout>
	<div class="about ">
  	<div class="container is-fluid is-fullhd">
		<div class="columns">
		  	<section class="section column is-three-quarters is-mobile is-tablet">

			</section>
			
		</div>
	 	<div class="columns">
		  	<section class="section column is-mobile is-tablet ">
			  	<div class="company-header hidden-mobile-r">
			  		<h1 class="title">Twoodots</h1>	

				</div>
			  		<div>
				  		<h1 class="has-text-centered">
				  			Submit your assets
				  		</h1>
			  		</div>
			</section>

	  	</div>

	  </div>

	 </div>

  </main-layout>
</template>

<script>
  import MainLayout from '../layouts/Main.vue'

  export default {
    components: {
      MainLayout
    },
        data: function(){
        return {
        	total: 200,
                current: 1,
                perPage: 20,
                order: '',
                size: '',
                isSimple: false
        }
      },

  }

</script>
<style scoped>
 
 body html{
    font-family: Pigiarniq;
   }
  .fa-chevron-down{
  	color:#0070e0;
  	font-size: 15px;
  	vertical-align: 3px;
  }
.figure{
 	border-radius: 8px;
   	width: 330px !important;
  	height: 328px !important;
}
.figure:hover{
	background: rgba(255,255,255,0.5);
	z-index: 111;
	border-radius: 0px !important;
}
.picker{
  z-index: 1000;
  position: absolute !important;
  top: 0
}
	.table td{
	  -webkit-transition: opacity 1s ease;
       -moz-transition: opacity 1s ease;
        -ms-transition: opacity 1s ease;
         -o-transition: opacity 1s ease;
            transition: opacity 1s ease;
	}
	.about{
	
	}
	.notification{
		background: #fff5f5;
		border-radius: 10px;
		margin-top:10px
	}
	.blue{
		color:#2082e4;
	}
	.company-header{
		display: flex;
		justify-content: space-between;
	}
	.company-header input{
		border-left: 0 ;
		border-right: 0;
		border-top: 0;
		box-shadow: 0 0 0 0 rgba(0,0,0,0);
		border-bottom: 2px solid lightgrey;
	}
	.company-header input:focus{
		border-bottom: 1px solid #0070e0;
	}

	.list table img{
	  width: 40px;
	  margin-top: 10px; 
	  margin-bottom: 10px; 
	  margin-left: 20px; 
	  vertical-align: middle;
	}
	.grid table img{
	  width: 40px;
	  margin-top: 10px; 
	  margin-bottom: 10px; 
	  margin-left: 20px; 
	  vertical-align: middle;
	}
	.grid-img{
		height: 256 * 1px;
	  	width: 256 * 1px;
	}
	.icon-grid-list{
		float: right;
		width: 1px;
		margin-right:10px;
	}
	.fa-trash-o{
		display: none;
	}
	.icon-trash{
		float: right;
		color: #ef6b6d;
		display: block;
	}
	table tr:hover{
		color:#0070e0;
		background: transparent !important;
	}
	.active-table-row{
		color:#0070e0;
		background: transparent !important;
	}
	.list-d-n{
		margin-left:20px;
	}
	.section{
		padding: 1rem 1.5rem;
	}
	.table td{
		vertical-align: middle;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.right-nav{
		float: right !important;
		border: none transparent;
	}
	.tag{
		float :right;
	}

	.card{
		border:0px transparent;
		box-shadow: 0 0 0 rgba(10, 10, 10, 0), 0 0 0 1px rgba(10, 10, 10, 0);
	}
	.discription p:not(:last-child), .discription dl:not(:last-child), .discription ol:not(:last-child), .discription ul:not(:last-child), .discription blockquote:not(:last-child), .discription pre:not(:last-child), .discription table:not(:last-child){
		margin-bottom:5px;
		margin-left: 0px;
	}
	.discription p{
		padding-top: 0;
		padding-left:0px;display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.discription img{
		padding-right: 10px
	}
	.discription_d{
		float: right;
	}
	.card > .card-content{
		padding:0;
	}
	.conversion{
		display: inline-block;	
		padding-bottom:15px;
	}
	.conversion .file{
		display: inline-block;
		padding-right: 10px;
		padding-left: 10px;
		padding-top:6px;
		border-radius: 4px;
	}
	.conversion .file:hover{
		border:solid 1px #0070e0;	
	}
	.icon-active-color{
		background: #e6e8eb;
	}
	.conversion img{
		padding-bottom: 6px;
	}
	.conversion h4{
		margin-bottom: 0.2em;
	}
	.conv{
		width: 100px;
		border-radius: 0;
		margin-right: 30px;

	}
	.conversion form{
		margin-bottom: 50px;
	}
	.button-d-s button{
		width: 45%;
		display: inline-block !important;
	}
	.button-d-s button{
    display: flex;
	}
	.button-block{
		display: flex;
		justify-content: space-between;
	}
	.width, .height{
		display: inline-block;
	}
	.primary{
		background:#F7F9FA;
		border: 1px solid #dbdbdb;
		cursor: pointer;
	}
	.right{
		float: right;
		opacity: 0.1;
		padding: 10px

	}
	.right:hover{
		opacity: 1;
		cursor: pointer;
	}
	.right:nth-child(1)::after{
		content: " Grid"
	}
	.right:nth-child(2)::after{
		content: " List";

	}
	.download{
		background: #0070e0;
		color:white;
		border: none;
		cursor: pointer;
	  -webkit-transition: opacity 1s ease;
       -moz-transition: opacity 1s ease;
        -ms-transition: opacity 1s ease;
         -o-transition: opacity 1s ease;
            transition: opacity 1s ease;
	}
	.download:hover{
		opacity: 0.8;

	}
	.card-color{
		margin-right: 150px;

	}
	.cardcolor{
		width: 33.33%;
	}
	.color{
		
		padding: 20px;
		color: white;
	  -webkit-transition: opacity 1s ease;
       -moz-transition: opacity 1s ease;
        -ms-transition: opacity 1s ease;
         -o-transition: opacity 1s ease;
            transition: opacity 1s ease;
	}
	.color:hover{
		opacity: 0.6;
	}
	#one{
		background: #578CA9;
	}
	#two{
		background: #004B8D;
	}

	#three{
		background: #F2552C;
	}
	#four{
		background: #95DEE3;
	}
	#five{
		background: #CE3175;
	}
	#six{
		background: #F6D155;
	}
	.icon{
		color: #F2552C;
	}
	@media screen and (max-width: 768px) {
	.about{
		margin-left: 0;
	}
	}

	.notification>.delete{
		position: absolute;
		top: 1.3em;
	}
	.fade{
		transition: all .3s ease;
	}
	.slide-fade-enter-active {
	  transition: all .3s ease;
	}
	.slide-fade-leave-active {
	  transition: all .0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	  display: none;
	}
	.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active below version 2.1.8 */ {
	  transform: translateX(10px);
	  opacity: 0;
	}
	.fa-bars{
		color:#cccccc !important;
	}
	/* colors*/
	.tag{
		float: left;
		border-radius: 0;
		margin-right: 5px;
	}
	.color-d{
		margin-left: 10px;
	}
	.color-grid .card{
		
		
	}
	.color-grid .card p{
		margin-bottom: 0;
	}
	.card > .image{
		margin:10px;
	}
	figure .button{
		background: transparent;
		border: none transparent;
	}
	.grid-img{
		margin-left: 11px;
	}
	.card-deck .card:not(:last-child){
		margin-right: 0;
	}
	.card-deck .card:not(:last-child){
		margin-left: 0;
	}
	.card-deck .card:not(:first-child){
		margin-left: 0;
	}
	@media screen and (max-width: 1024px) {
    .hidden {
	  display: none !important;
	  visibility: hidden !important;
	}
	}

	@media screen and (max-width: 520px) {
	    .hidden-mobile-r {
		  display: block !important;
		  visibility: visible !important;
		}

	}
	@media screen and (max-width: 519px) {
	    .hidden-mobile-r {
		  display: none !important;
		  visibility: hidden !important;
		  padding: 0 !important;
		  margin: 0 !important;
		}
	}
	@media screen and (min-width: 520px) {
	.show-mobile{
	  	display: none !important;
		visibility: hidden !important;
	}


	}
	@media screen and (max-width: 520px) {
		p.test1 {
		    white-space: nowrap; 
		    width: auto; 
		    border: 1px solid #000000;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
		.section {
			padding:0.5em;
		}	
		.mobile-logo{
			max-width: 100%;
		}
		.title{
			font-size: 25px;
		}
		.title:not(:last-child), .subtitle:not(:last-child){
			margin-bottom: 0.4em;
		}
		.block .tabs li.is-active a{
			color: #0070e0 ; 
			border-bottom: #0070e0 !important;
		}
	}


</style>