<template>
<!--  -->
  <main-layout :vshow="sidebar">
	<div class="about ">
		
  	<div class="container is-fluid is-fullhd" >
		<div class="columns">
		  	<section class="section column is-three-quarters is-mobile is-tablet">
			</section>			
		</div>
	 	<div class="columns ">
		  	<section class="section column is-mobile is-tablet">
		  	<div class="company-header hidden-mobile-r">
			  	<h1 class="title" >{{brand}}</h1>
				<div class="icon-right">
					<button class="button add-item-button" @click="isuploadModalActive ^= true">Upload</button>
				</div>
				<div class="icon-field hidden-mobile-r">
				<div class="listgrid" v-bind:class="{ 'listgrid-active': list}" @click="grid ^=true"> 
			  		<i class="fa fa-bars" aria-hidde="true"></i>&nbsp;&nbsp;List View
			  	</div>
			  	<div class="listgrid" v-bind:class="{ 'listgrid-active': grid}" @click="list ^=true"> 
			  		<i class="fa fa-th-large"></i>&nbsp;&nbsp;Grid View
			  	</div>
				</div>	
			</div>
			<div class="company-header is-fullwidth show-mobile-bar">
				<div class="mobile-logo">
					<img class="icon" src="dist/logo_circle.svg" >
				</div>
		  		<h1 class="title">{{brand}} <!-- <i class="fa fa-chevron-down" aria-hidden="true" width=""></i> --></h1>	
			  	<div class="user-icon" @click="isComponentSubActive=true">
			  		<i class="fa fa-plus is-info" aria-hidden="true"></i>
		  		</div>
			</div>
			<!-- mobile navigation -->
			<v-touch v-on:swipeleft="activetab += 1" v-on:swiperight="activetab--">
			<b-tabs position=" is-medium is-fullwidth" class="block show-mobile" v-model="activetab"> 
			    <b-tab-item label="Logo" >
			   
		  		<table class="table is-fullwidth list show-mobile" v-if="list">
					<tbody>
					<tr
			 		v-for="file in filesob"
			 		v-bind:class="{'active-table-row' : activerow == file}" 
			  	 	@click="showLogo(file)"
					  >
					<td>
						<img class="img-responsive" :src="'dist/'+ file.extension.split('.')[1] + '.svg'">
						<span class="list-d-n">{{file.fileName}}</span>
					</td>
					</tr>			
					</tbody>
				</table>
			    </b-tab-item>
				<!--<b-tab-item label="Colours">
			  	<table class="table is-fullwidth list show-mobile" v-if="list">
					<tbody>
						<tr  v-clipboard:copy="color.colorhex" v-clipboard:success="onCopy" v-for="color in colorsdet">
							<td >
								<span :id="color.colorid" class="tag">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							</td>
							<td>
								<span class="tag is-light">hex</span> {{color.colorhex}}
							</td>
						</tr>
					</tbody>
					</table>
			    </b-tab-item> -->
			    <b-tab-item label="Assets">
		  		<table class="table is-fullwidth list show-mobile" v-if="list">
					<tbody>
					<tr
			 		v-for="asset in assets"
			 		v-bind:class="{ 'active-table-row': activerow == asset}" 
			  	 	@click.prevent="showLogo(asset)"
					  >
						<td>
							<img class="img-responsive" :src="'dist/'+ asset.extension.split('.')[1] + '.svg'">
							<span class="list-d-n">{{asset.fileName}}</span>
						</td>
					</tr>			
					</tbody>
				</table>
			    </b-tab-item>
			</b-tabs>
			</v-touch>
			<!-- Mobile Navigation -->

			<!--Logo Section List-->
			<div class="hidden-mobile-r" >

		<h3 class="is-black" id="Logo">
			Logo
		</h3>
		<b-table
        :data="isEmpty ? [] : filesob"
        paginated
        :per-page="5"
        default-sort="$id"
        :selected.sync="selected"
        :mobile-cards="hasMobileCards"
        :loading="isLoading"
        v-if="list"
        selectable 

        @click.native="showLogo(selected)"

        >

        <template scope="props">
            <b-table-column field="id" sortable >
                <img :src="'dist/'+ props.row.extension.split('.')[1] + '.svg'">
            </b-table-column>
            <b-table-column field="fileName"  label="Filename" sortable  class="fixed" >
                {{ props.row.fileName }}
            </b-table-column>
            <b-table-column field="width" label="Dimesnions" sortable v-if="props.row.width != null">
                <span >{{ props.row.width}}</span> x {{ props.row.height}}
            </b-table-column>            
            <b-table-column field="width" label="Dimesnions" sortable v-else-if="props.row.width == null">
                N/A
            </b-table-column>
            <b-table-column field="size" label="Size" sortable >
                    {{ props.row.size}} 
            	<span class="fa fa-trash" style="position: relative; float:right;top:5px;" @click="deletelogo(props.row[$id],props.row.id)"></span>
            </b-table-column>
        </template>
        <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <span class="fa fa-frown-o fa-3x"></span>
                        </p>
                        <p class="m-0">Nothing here. to Show</p>
                        <p class="upload-text">To Upload Click here 
	                        <div>
	                        	<button class="button add-item-button" @click="isuploadModalActive ^= true; activeTab=0">Upload</button>
	                        </div>
                    	</p>
                    </div>
                </section>
        </template>
   		</b-table>
				<!--Logo Section Grid-->
				<div v-if="grid">
				<table class="table is-fullwidth grid" >
					<thead>
					<tr>
						<td>Logo</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</thead>
				</table>
						<div class="card-deck">
						<div class="card" v-for="file in filesob.slice(this.start1,this.end1)" @click="showLogo(file)" >
						
						<figure 
						class="image is-square" 
						:class="{ 'image-fit':file.extension != '.png','image-fit-png':file.extension == '.png'}"
						>
						<img class="img-responsive" v-bind:src="file.path" >
						<span class="filetype tag is-dark ">{{file.contentType.split("/")[1]}}
						</span>
						</figure>
						</div>

						</div>
						<div class="level">
							<div class="level-left">
								
							</div>
							 <div class="level-right">
							 	<div class="level-item">
							 		<div class="pagination">
							 			<a role="button"  @click="previous1()" class="pagination-previous" >
							 				<span class="icon">
							 					<i class="fa fa-angle-left fa-lg"></i>
							 				</span>
							 			</a> 
							 			<a role="button" class="pagination-next" @click="next1()">
							 				<span class="icon">
							 				<i class="fa fa-angle-right fa-lg"></i>
							 			</span>
							 			</a>
							 		</div>
            					</div>
            				</div>
            			</div>
				</div>
				<!-- Color Section Body -->
				<!-- Assets List Section Body -->
				<br>
				<h3 class="is-black" id="Assets">
					Assets
				</h3>
			  	<b-table
		        :data="isEmpty ? [] : assets"
		        paginated
		        :per-page="5"
		        default-sort="$id"
		        :selected.sync="selected"
		        @click.native="showLogo(selected)"
		        :mobile-cards="hasMobileCards"
		        selectable
		        v-if="list"
		        >

		        <template scope="props">
		            <b-table-column field="id" sortable >
		                <img :src="'dist/'+ props.row.extension.split('.')[1] + '.svg'">
		            </b-table-column>

		            <b-table-column field="fileName"  label="Filename" sortable >
		                {{ props.row.fileName }}
		            </b-table-column>

		            <b-table-column field="width" label="Last Name" sortable >
		                {{ props.row.width}} x {{ props.row.height}}
		            </b-table-column>

		            <b-table-column field="size" label="Date" sortable >
		                    {{ props.row.size}} 
		            	<span class="fa fa-trash" style="position: relative; float:right;top:5px;" @click="deletefile(props.row[$id],props.row.id)"></span>
		            </b-table-column>
		        </template>
		        <template slot="empty">
		                <section class="section">
		                    <div class="content has-text-grey has-text-centered">
		                        <p>
		                            <span class="fa fa-frown-o fa-3x"></span>
		                        </p>
		                        <p class="m-0">Nothing here. to Show</p>
		                        <p class="upload-text">To Upload Click here 
			                        <div>
			                        	<button class="button add-item-button" @click="isuploadModalActive ^= true; activeTab=1">Upload</button>
			                        </div>
		                    	</p>
		                    </div>
		                </section>
		        </template>		        
		   		</b-table>
				<!-- Assets Section Body -->
				<!-- Assets Grid Section Body -->
				<div v-if="grid">
				<table class="table is-fullwidth grid" id="Assets">
					<thead>
					<tr>
						<td>Assets</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</thead>
				</table>

						<div class="card-deck">
						<div class="card" v-for="asset in assets.slice(this.start,this.end)" @click="showLogo(asset)"  >
						<figure 
						class="image is-square" 
						:class="{ 'image-fit':asset.extension != '.png','image-fit-png':asset.extension == '.png'}"
						 >
						<img class="img-responsive" v-bind:src="asset.path" >
						<span class="filetype tag is-dark ">{{asset.contentType.split("/")[1]}}
						</span>
						</figure>

						</div>

						</div>
						<div class="level">
							<div class="level-left">
							</div>
							<div class="level-right">
							 	<div class="level-item">
							 		<div class="pagination">
							 			<a role="button"  @click="previous()" class="pagination-previous" >
							 				<span class="icon">
							 					<i class="fa fa-angle-left fa-lg"></i>
							 				</span>
							 			</a> 
							 			<a role="button" class="pagination-next" @click="next()">
							 				<span class="icon">
							 				<i class="fa fa-angle-right fa-lg"></i>
							 			</span>
							 			</a>
							 		</div>
            					</div>
            				</div>
            			</div>
				</div>				<br>
				<h3 class="is-black" id="Documents">
					Documents
				</h3>
			  	<b-table
		        :data="isEmpty ? [] : filesob"
		        paginated
		        :per-page="5"
		        default-sort="$id"
		        :selected.sync="selected"
		        @click.native="showLogo(selected)"
		        :mobile-cards="hasMobileCards"
		        selectable
		        v-if="list"
		        >

		        <template scope="props">
		            <b-table-column field="id" sortable >
		                <img :src="'dist/'+ props.row.extension.split('.')[1] + '.svg'">
		            </b-table-column>

		            <b-table-column field="fileName"  label="Filename" sortable >
		                {{ props.row.fileName }}
		            </b-table-column>

		            <b-table-column field="width" label="Last Name" sortable >
		                {{ props.row.width}} x {{ props.row.height}}
		            </b-table-column>

		            <b-table-column field="size" label="Date" sortable >
		                    {{ props.row.size}} 
		            	<span class="fa fa-trash" style="position: relative; float:right;top:5px;" @click="deletefile(props.row[$id],props.row.id)"></span>
		            </b-table-column>
		        </template>
		        <template slot="empty">
		                <section class="section">
		                    <div class="content has-text-grey has-text-centered">
		                        <p>
		                            <span class="fa fa-frown-o fa-3x"></span>
		                        </p>
		                        <p class="m-0">Nothing here. to Show</p>
		                        <p class="upload-text">To Upload Click here 
			                        <div>
			                        	<button class="button add-item-button" @click="isuploadModalActive ^= true; activeTab=2">Upload</button>
			                        </div>
		                    	</p>
		                    </div>
		                </section>
		        </template>		        
		   		</b-table>
				<!-- Assets Section Body -->
				<!-- Assets Grid Section Body -->
				<div v-if="grid">
				<table class="table is-fullwidth grid" id="Documents">
					<thead>
					<tr>
						<td>Documents</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</thead>
				</table>

						<div class="card-deck">
						<div class="card" v-for="asset in filesob.slice(this.start,this.end)" @click="showLogo(asset)"  >
						<figure 
						class="image is-square" 
						:class="{ 'image-fit':asset.extension != '.png','image-fit-png':asset.extension == '.png'}"
						 >
						<img class="img-responsive" v-bind:src="asset.path" >
						<span class="filetype tag is-dark ">{{asset.contentType.split("/")[1]}}
						</span>
						</figure>

						</div>

						</div>
						<div class="level">
							<div class="level-left">
							</div>
							<div class="level-right">
							 	<div class="level-item">
							 		<div class="pagination">
							 			<a role="button"  @click="previous()" class="pagination-previous" >
							 				<span class="icon">
							 					<i class="fa fa-angle-left fa-lg"></i>
							 				</span>
							 			</a> 
							 			<a role="button" class="pagination-next" @click="next()">
							 				<span class="icon">
							 				<i class="fa fa-angle-right fa-lg"></i>
							 			</span>
							 			</a>
							 		</div>
            					</div>
            				</div>
            			</div>
				</div>				<br>
				<h3 class="is-black" id="Artworks">
					Artworks
				</h3>
			  	<b-table
		        :data="isEmpty ? [] : filesob"
		        paginated
		        :per-page="5"
		        default-sort="$id"
		        :selected.sync="selected"
		        @click.native="showLogo(selected)"
		        :mobile-cards="hasMobileCards"
		        selectable
		        v-if="list"
		        >

		        <template scope="props">
		            <b-table-column field="id" sortable >
		                <img :src="'dist/'+ props.row.extension.split('.')[1] + '.svg'">
		            </b-table-column>

		            <b-table-column field="fileName"  label="Filename" sortable >
		                {{ props.row.fileName }}
		            </b-table-column>

		            <b-table-column field="width" label="Last Name" sortable >
		                {{ props.row.width}} x {{ props.row.height}}
		            </b-table-column>

		            <b-table-column field="size" label="Date" sortable >
		                    {{ props.row.size}} 
		            	<span class="fa fa-trash" style="position: relative; float:right;top:5px;" @click="deletefile(props.row[$id],props.row.id)"></span>
		            </b-table-column>
		        </template>
		        <template slot="empty">
		                <section class="section">
		                    <div class="content has-text-grey has-text-centered">
		                        <p>
		                            <span class="fa fa-frown-o fa-3x"></span>
		                        </p>
		                        <p class="m-0">Nothing here. to Show</p>
		                        <p class="upload-text">To Upload Click here 
			                        <div>
			                        	<button class="button add-item-button" @click="isuploadModalActive ^= true; activeTab=3">Upload</button>
			                        </div>
		                    	</p>
		                    </div>
		                </section>
		        </template>		        
		   		</b-table>
				<!-- Assets Section Body -->
				<!-- Assets Grid Section Body -->
				<div v-if="grid">
				<table class="table is-fullwidth grid" id="Artworks">
					<thead>
					<tr>
						<td>Artworks</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</thead>
				</table>

						<div class="card-deck">
						<div class="card" v-for="asset in filesob.slice(this.start,this.end)" @click="showLogo(asset)"  >
						<figure 
						class="image is-square" 
						:class="{ 'image-fit':asset.extension != '.png','image-fit-png':asset.extension == '.png'}"
						 >
						<img class="img-responsive" v-bind:src="asset.path" >
						<span class="filetype tag is-dark ">{{asset.contentType.split("/")[1]}}
						</span>
						</figure>

						</div>

						</div>
						<div class="level">
							<div class="level-left">
							</div>
							<div class="level-right">
							 	<div class="level-item">
							 		<div class="pagination">
							 			<a role="button"  @click="previous()" class="pagination-previous" >
							 				<span class="icon">
							 					<i class="fa fa-angle-left fa-lg"></i>
							 				</span>
							 			</a> 
							 			<a role="button" class="pagination-next" @click="next()">
							 				<span class="icon">
							 				<i class="fa fa-angle-right fa-lg"></i>
							 			</span>
							 			</a>
							 		</div>
            					</div>
            				</div>
            			</div>
				</div><br>
				<h3 class="is-black" id="Printables">
					Printables
				</h3>
			  	<b-table
		        :data="isEmpty ? [] : filesob"
		        paginated
		        :per-page="5"
		        default-sort="$id"
		        :selected.sync="selected"
		        @click.native="showLogo(selected)"
		        :mobile-cards="hasMobileCards"
		        selectable
		        v-if="list"
		        >

		        <template scope="props">
		            <b-table-column field="id" sortable >
		                <img :src="'dist/'+ props.row.extension.split('.')[1] + '.svg'">
		            </b-table-column>

		            <b-table-column field="fileName"  label="Filename" sortable >
		                {{ props.row.fileName }}
		            </b-table-column>

		            <b-table-column field="width" label="Last Name" sortable >
		                {{ props.row.width}} x {{ props.row.height}}
		            </b-table-column>

		            <b-table-column field="size" label="Date" sortable >
		                    {{ props.row.size}} 
		            	<span class="fa fa-trash" style="position: relative; float:right;top:5px;" @click="deletefile(props.row[$id],props.row.id)"></span>
		            </b-table-column>
		        </template>
		        <template slot="empty">
		                <section class="section">
		                    <div class="content has-text-grey has-text-centered">
		                        <p>
		                            <span class="fa fa-frown-o fa-3x"></span>
		                        </p>
		                        <p class="m-0">Nothing here. to Show</p>
		                        <p class="upload-text">To Upload Click here 
			                        <div>
			                        	<button class="button add-item-button" @click="isuploadModalActive ^= true; activeTab=4">Upload</button>
			                        </div>
		                    	</p>
		                    </div>
		                </section>
		        </template>		        
		   		</b-table>
				<!-- Assets Section Body -->
				<!-- Assets Grid Section Body -->
				<div v-if="grid">
				<table class="table is-fullwidth grid" id="Printables">
					<thead>
					<tr>
						<td>Printables</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					</thead>
				</table>

						<div class="card-deck">
						<div class="card" v-for="asset in assets.slice(this.start,this.end)" @click="showLogo(asset)"  >
						<figure 
						class="image is-square" 
						:class="{ 'image-fit':asset.extension != '.png','image-fit-png':asset.extension == '.png'}"
						 >
						<img class="img-responsive" v-bind:src="asset.path" >
						<span class="filetype tag is-dark ">{{asset.contentType.split("/")[1]}}
						</span>
						</figure>

						</div>

						</div>
						<div class="level">
							<div class="level-left">
							</div>
							<div class="level-right">
							 	<div class="level-item">
							 		<div class="pagination">
							 			<a role="button"  @click="previous()" class="pagination-previous" >
							 				<span class="icon">
							 					<i class="fa fa-angle-left fa-lg"></i>
							 				</span>
							 			</a> 
							 			<a role="button" class="pagination-next" @click="next()">
							 				<span class="icon">
							 				<i class="fa fa-angle-right fa-lg"></i>
							 			</span>
							 			</a>
							 		</div>
            					</div>
            				</div>
            			</div>
				</div>
				</div>
		  	</section>

		<transition name="slide-fade">
			  	<section class="column is-one-third-desktop hidden" v-show="logo">
			  	<div class="column is-one-quarter">
					<div class="card fixed-card">
					<div>
					<span class="fa-is-info" @click="closesec()">x</span>
					</div>
					  <div class="card-image ">
					    <figure class="image is-2by1" 
					    :class="{ 'image-fit': typeshow != 'PNG','image-fit-png': typeshow == 'PNG'}" >
					      <img v-bind:src="src" alt="Image ">
					      <img src="dist/noprew.png" alt="Image " v-if="type == 'pdf'" style="object-fit:cover">
					    </figure>
					  </div>
					  <div class="card-content">
						    <div class="content">
						    <div class="discription" >
						     <h4 >General Info</h4>
						     <p> {{name}} {{filesouid}} </p>
						     <div>
						     	<img v-bind:src="icons"/>
						     	<p><span v-if="dimension != 'null x null'">{{dimension}}</span>
						     		<span v-if="dimension == 'null x null'">Dimesnions not available</span>
						     		<br>{{size}}
						     	</p>
						     </div>
							</div>
							<br>
							<h4 >Conversion</h4>
							<div v-if="type === 'pdf'"> 
								<p>Conversion N/A</p>
							</div>
							<div class="conversion" v-if="type != 'pdf'">
							<div class="file has-text-centered " v-on:click="activeicons(1,filesarr,fileid)" :class="{ 'icon-active-color': activeicon == 1,}">
								<img :src="'dist/'+ typeshow + '.svg'"/>	
								<h4>{{ typeshow }}</h4>
							</div>
							<div class="file has-text-centered " v-on:click="activeicons(2,filesarr,fileid)" :class="{ 'icon-active-color': activeicon == 2,} " v-if="type != 'pdf'">
								<img src="dist/pdf.svg" >
								<h4>PDF</h4>
							</div>
							<div class="file has-text-centered " v-on:click="activeicons(3,filesarr,fileid)" :class="{ 'icon-active-color': activeicon == 3,}" v-if="type === 'png' || type === 'pdf'">
								<img :src="'dist/'+ 'jpeg' +'.svg'"/>
								<h4 >
								 JPEG
								</h4>
							</div>							
							<div class="file has-text-centered " v-on:click="activeicons(4,filesarr,fileid)" :class="{ 'icon-active-color': activeicon == 4,}" v-if="type === 'jpeg'|| type === 'pdf'">
								<img :src="'dist/'+ 'PNG' +'.svg'"/>
								<h4 >
								 PNG
								</h4>
							</div>
							<div class="file has-text-centered " v-on:click="activeicons(5,filesarr,fileid)" :class="{ 'icon-active-color': activeicon == 5,}">
								<img src="dist/psd.svg"/>
								<h4>PSD</h4>
							</div>
							</div>
							<form v-if="type != 'pdf'">
							<div class="width">
								<input class="input conv" type="number" name="width" placeholder="250" v-model="width">
								<p>Width(px)</p>
							</div>
							<div class="height">
								<input class="input conv" type="number" name="width" placeholder="250"  v-model="height">
								<p>Height(px)</p>
							</div>
							</form>
							<div class="button-ds">
							<div class="has-text-left" v-if="activeicon == 1">
					  		<a :href="src" class="button-block button is-info is-medium has-text-centered " >Download</a>
							</div>
							<div class="has-text-left" v-if="activeicon != 1">
						  		<input type="button" name="" Value="Download" class="button-block button is-info is-medium has-text-centered " @click="downloadfile()">
							</div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<div class="">
							<input type="button" name="" Value="Share" class=" button-block button is-success is-medium has-text-centered "  title="Disabled button" @click="Sendmail()">	
							</div>
							</div>
					    </div>
					  </div>
					</div>
					</div>
			  	</section>
		</transition>
		<transition name="slide-fade">
		  	<section class="column is-one-third-desktop hidden" v-show="color">
			  	<div class="column is-one-quarter">
					<div class="card fixed-card">
					<div>
					<span class="fa-is-info" @click="closesec()">x</span>
					</div>
				  <div class="card-image">
				    <figure class="image is-4by3 " @click="pickershow" :id="type" >
				    	<!-- v-bind:style="{'background-color': bgc}" -->
				    <sketch class="picker" v-model="colors" @change-color="onChange" v-if="picker"></sketch>
				    </figure>
				  </div>
				  <div class="card-content">
					    <div class="content">
					    <p class="subtitle">Color Discirption</p>
					    <div class="discription">
						    <p>Name:<span class="discription_d ">&nbsp;&nbsp;{{name}}</span> </p><br>
						    <p>HEX:<span class="discription_d "> &nbsp;&nbsp;&nbsp;{{dimension}}</span> </p><br>
							<p>RGB:<span class="discription_d "> &nbsp;&nbsp;{{size}}</span></p> <br>
							<p>HSL:<span class="discription_d "> &nbsp;&nbsp;{{src}}</span></p> <br>
							<p>CMYK: <span class="discription_d "> &nbsp;&nbsp;{{icon}}</span></p><br>
						</div>
						<br>
				    </div>
				  </div>
				</div>
			</div>
			  </section>
		</transition>
	  	</div>
	  </div>

	 </div>
	<!--  <button>Launch component modal</button> -->
	<b-modal :active.sync="istabModalActive" has-modal-card >
	   <modal-file :mname="name" :mtype="type" :mdimension="dimension" :msrc="src" :micon="icon" :mdownloadsrc="dlsrc" :mmodal="activeicons" :mfilesarr="filesarr" :mfileid="fileid"></modal-file>
	</b-modal>
	<b-modal class="uploadmodal" :active.sync="isuploadModalActive"   has-modal-card >
	   <upload-file :tabNo="activeTab"></upload-file>
	</b-modal>
<!-- <transition name="fade">
	<b-modal :active.sync="isComponentModalActive" has-modal-card>
	   <modal-file :mname="name" :mtype="type" :mdimension="dimension" :msrc="src" :micon="icon" :mdownloadsrc="dlsrc" :mmodal="activeicons" :mfilesarr="filesarr" :mfileid="fileid"></modal-file>
	</b-modal>
	</transition>	 -->
	
	<b-modal :active.sync="isComponentSubActive" has-modal-card>
		<sub-scribe></sub-scribe>
	</b-modal>
	
  </main-layout>
</template>

<script>

  import MainLayout from '../layouts/Main.vue'
  import ModalFile from './modal.vue'
  import uploadFile from './upload.vue'
  import SubScribe from './modalsubscribe.vue'
  import json from '.././json/data.json'
  import { Sketch } from 'vue-color'
  import axios from 'axios'
  var FileSaver = require('file-saver');
  export default {
	
   props:[
   'sidebars'
   ],
    components: {
      MainLayout,
      Sketch,
      ModalFile,
      SubScribe,
      uploadFile
    },
        data: function(){
        return {
        check:false,
        fileid:null,
        listgridicons:'',
        listicon:'dist/list_view.svg',
        listicondis:'dist/list_view_disabled.svg',        
        gridicon:'dist/grid_view_active.svg',
        gridicondis:'dist/grid_view.svg',

        // pagination
        total: 25,
        current: 1,
        perPage: 5,
        order: '',
        size: '',
        hasMobileCards:false,
        isSimple: false,
        // Tabs
        activeTab: 0,
        // pagination

        // Local Storage Varaible
        username: localStorage.getItem("username"),
        token:localStorage.getItem("token"),
        // Local Storage Varaible

		name: '',
		dimension: '',
		width: '',
		height:'',
		start:0,
		end:3,		
		start1:0,
		end1:3,
		files: [],
		selected:[],
		filesarr:[],
		dataUrl:'',
		src: '',
		size:'',
		dlsrc:'',
		type:'',
		downtype:null,
		typeshow:'',
		contentType:'',
		icons:'',
		fileid:null,
        brand:'NEST I/O',
        colorsdet:[{
        	id:0,
        	colorid:'one',
        	colorname:'Pomegranate',
        	colorhex:'#EF4038',
        	colorrgb:'(239, 64, 56)',
        	colorhsl:'(3, 85%, 58%)',
        	colorcmyk:'(0%, 73%, 77%, 6%)'
        },
        {
        	id:1,
        	colorid:'two',
        	colorname:'Lochmara',
        	colorhex:'#0480BF',
        	colorrgb:'(4, 128, 191)',
        	colorhsl:'(200, 96%, 38%)',
        	colorcmyk:'(98%, 33%, 0%, 25%)'
        }, 
        {
        	id:2,
        	colorid:'three',
        	colorname:'Alizarin Crimson',
        	colorhex:'E92129',
        	colorrgb:'(233, 33, 41)',
        	colorhsl:'(358, 82%, 52%)',
        	colorcmyk:'(0%, 86%, 82%, 9%)'
        },
        {
        	id:3,
        	colorid:'four',
        	colorname:'Supernova',
        	colorhex:'FFD003',
        	colorrgb:'(255, 208, 3)',
        	colorhsl:'(49, 100%, 51%)',
        	colorcmyk:'(0%, 18%, 99%, 0%)'
        },
        {
        	id:4,
        	colorid:'five',
        	colorname:'Thunder',
        	colorhex:'211F20',
        	colorrgb:'(33, 31, 32)',
        	colorhsl:'(330, 3%, 13%)',
        	colorcmyk:'(0%, 6%, 3%, 87%)'
        }, 
        {
        	id:5,
        	colorid:'six',
        	colorname:'Scorpion',
        	colorhex:'606060',
        	colorrgb:'(96, 96, 96)',
        	colorhsl:'(0, 0%, 38%)',
        	colorcmyk:'(0%, 0%, 0%, 62%)'
        }
        ],
        assets:[],
        filesob:[],
        isSwitched: true,
        isComponentSubActive:false,
        isComponentModalActive:false,
        istabModalActive:false,
        isuploadModalActive:false,
        activetab:0,
      	windowWidth: window.innerWidth,
      	window:false,
    	picker:false,
		logo: false,
		color:false,
		list:true,
		sidebar:false,
		grid:false,
		deletebtn:false,
		isImageModalActive: false,
		activerow: false,
		activeicon:1,
		dropFiles: [],
        colors: {
	        hex: '#578CA9',
	        rgba: {
	          r: 87,
	          g: 140,
	          b: 169,
	          a: 1
	        },
	        a: 1
	      },
	       /*Local Storage Varaible*/
        username:localStorage.getItem("username"),
        token:localStorage.getItem("token"),
        /*Local Storage Varaible*/
        }
      },
      methods:{	
      	next(){
      		var length = this.files.length
      		this.end += 3
      		this.start +=3
      	},
      	previous(){
      		var length = this.files.length
      		this.end -= 3
      		this.start -=3
      	},      	
      	next1(){

      		this.end1 += 3
      		this.start1 +=3
      	},
      	previous1(){

      		this.end1 -= 3
      		this.start1 -=3
      	},
      	 deleteDropFile(index) {
                this.dropFiles.splice(index, 1)
            },
        Sendmail:function(){
        	axios({
  			method: 'post',
			url:'https://brandsaviouragain.azurewebsites.net/api/Email/SendEmail/'+ this.fileid + '/' +this.username+'/muhharoonaslam@gmail.com/'+ this.downtype + '/' + this.height + '/' + this.width,
			headers: {
				'Content-Type':'application/json',
				'Authorization': 'Bearer ' + this.token,
			}
	    	}).then(response => {
	    		console.log(response)
	    	})
            .catch(function (error) {
                console.log(error);
            });
        },         
        deletelogo:function(index,id){
        	alert(id)
        	axios({
  			method: 'get',
			url:'https://brandsaviouragain.azurewebsites.net/api/document/Delete/'+ id,
			headers: {
				'Content-Type':'application/json',
				'Authorization': 'Bearer ' + this.token,
			}
	    	}).then(response => {
	    		console.log(response)
	    		this.filesob.splice(index, 1)
	    	})
            .catch(function (error) {
                console.log(error);
            });
        },       
         deletefile:function(index,id){
        	alert(id)
        	axios({
  			method: 'get',
			url:'https://brandsaviouragain.azurewebsites.net/api/document/Delete/'+ id,
			headers: {
				'Content-Type':'application/json',
				'Authorization': 'Bearer ' + this.token,
			}
	    	}).then(response => {
	    		console.log(response)
	    		this.assets.splice(index, 1)
	    	})
            .catch(function (error) {
                console.log(error);
            });
        },
      	sidebarb:function(){
      		this.sidebar ^= true;
      		setTimeout(function(){
                this.sidebar = false;
            }, 2000);
        },
	    onCopy: function (e) {
	      alert('You just copied: ' + e.text)
	    },
	    onError: function (e) {
	      alert('Failed to copy texts')
	    },	
    	listshow:function(e){
    		this.listicon = listicondis	;
    	},
      	showlist:function(){
      		this.list ^=true;
      		this.grid = false
      	},
      	closesec(){
      		this.selected = []
      		this.logo = false;
      		this.color =false;
      	},
  		closemodal(){
      		this.isComponentModalActive = false;
      	},
      	setWindowOnCLick : function(check) {

		}, 
		showLogo: function(row) {
			console.log("Showlogo",row,row.length)

		      if (window.innerWidth > 1024 && row.length == undefined) {
		        this.logo = true;
		        this.color = false;
		        this.istabModalActive = false;
		        this.name = row.fileName;
		        this.dimension = row.width + ' x ' + row.height
		        this.width = 0;
		        this.height = 0;
		        this.src = row.path;
		        this.icon = row.iconsrc;
		        this.dlsrc = row.path;
		        this.contentType = row.contentType;
		        this.typeshow = row.contentType.split("/")[1].toUpperCase();
		        this.type = row.contentType.split("/")[1];
		        this.icons = 'dist/' + this.type + '.svg';
		        this.assetsid = row.index;
		        this.size = row.size;
		        this.activerow = row;
		        this.fileid = row.id;
		        this.assetsid = row.id;
		        this.activerow = row;
		      } 
		      else if(window.innerWidth < 1024 && row.length == undefined){
		        this.logo = true;
		        this.color = false;
		        this.istabModalActive = true;
		        this.filesarr = row;
		        this.name = row.fileName;
		        this.dimension = row.width + ' x ' + row.height
		        this.size = row.size;
		        this.src = row.path;
		        this.icon = row.contentType.split("/")[1].toUpperCase();
		        this.dlsrc = row.path;
		        this.typeshow = row.contentType.split("/")[1].toUpperCase();
		        this.type = row.contentType.split("/")[1];
		        this.icons = row.iconsrc;
		        this.fileid = row.id;
		        this.assetsid = row.id;
		        this.activerow = row;
		      }
	    },
		showmodal:function(cl){
			this.isComponentModalActive = true;
			this.name = cl.fileName;
			this.dimension = cl.width +' x '+bl.height
			this.size = cl.size;
			this.src = cl.path;
			this.icon = cl.iconsrc;
			this.dlsrc = cl.path;
			this.type = cl.filetype;
      		this.icons = cl.iconsrc;
      		this.fileid=cl.id;
      		this.assetsid=cl.id;
      		this.activerow = cl;
      	},

      	showColor:function(fl){
      		if(window.innerWidth> 1024)
			{
			this.logo = false;
			this.color = true; 
			this.istabModalActive = false;
			this.name = fl.colorname;
			this.dimension = fl.colorhex;
			this.size = fl.colorrgb;
			this.src = fl.colorcmyk;
			this.icon = fl.colorhsl;
			this.type = fl.colorid;
			}
			else
			{
			this.logo = false;
			this.color = true; 
			this.istabModalActive = true;
			this.name = fl.colorname;
			this.dimension = fl.colorhex;
			this.size = fl.colorrgb;
			this.src = fl.colorcmyk;
			this.type = fl.colorid;
			}
			
      	},
      	downloadfile:function(){
      		alert(this.fileid)
      		axios({
  			method: 'get',
			url:'https://brandsaviouragain.azurewebsites.net/api/Download/DownloadBlob/'+ this.fileid + '/' + this.width + '/' + this.height+ '/'+ this.downtype + '/'+this.username,

			responseType: "arraybuffer",
			headers: {
				'Content-Type':'application/json',
				'Authorization': 'Bearer ' + this.token,
			}
	    	}).then(response => {
			console.log(response)
			
			var arrayBuffer = response.data;
			var content = response.headers["content-type"];
			var blob = new Blob([response.data], {type: content});
			FileSaver.saveAs(blob, this.name.split(".")[0] + '.' + this.downtype);
			
	    	}).then(()=> {
				link.click()
			})
            .catch(function (error) {
                console.log(error);
            });
      	},
      	activeicons:function(al,cl,index){
      		this.activeicon = al;
      		
      		if(this.activeicon == 1){
      		}
      		else if(this.activeicon == 2){
      			this.downtype = 'pdf'
      		}      		
      		else if(this.activeicon == 3){
      			this.downtype = 'jpg'
      		}      		
      		else if(this.activeicon == 4){
      			this.downtype = 'png'
      		}      		
      		else if(this.activeicon == 5){
      			this.downtype = 'psd'
      		}      		
      		else if(this.activeicon == 6){
      			this.downtype = 'jpg'
      		}
      		console.log(cl);
      		//for assets

      		// if(this.activeicon == 1){
      		// 	this.dlsrc = el[index2].downloadsrc;
      		// 	console.log(this.dlsrc);
      		// }
      		// else if(this.activeicon == 2){
      		// 	this.dlsrc = el[index2].downloadsrc1;
      		// 	console.log(this.dlsrc);
      		// }      		
      		// else if(this.activeicon == 3){
      		// 	this.dlsrc = el[index2].downloadsrc2;
      		// 	console.log(this.dlsrc);
      		// }      		
      		// else if(this.activeicon == 4){
      		// 	this.dlsrc = el[index2].downloadsrc3;
      		// 	console.log(this.dlsrc);
      		// }
      	},
      	onChange (val) {
	      this.colors = val
	    },
	    pickershow:function(){
	      this.picker^=true
	    }

      },

	mounted:function() {
			axios({
			method: 'get',
			url:'https://brandsaviouragain.azurewebsites.net/api/User/getUserFile/'+this.username,
			headers: {
				'Content-Type':'application/json',
				'Authorization': 'Bearer ' + this.token,
			}
	    	})
	    	.then(response => {
	    	console.log(response.data)
			this.files = response.data
			let logoarray=[]
			let assets=[]
			this.files.map(function(value){
				if(value.isLogo === true){
					logoarray.push(value)
			    }
			    else if(value.isLogo === null){
			    	logoarray.push(value)
			    }
			    else if(value.isLogo === false){
			    	assets.push(value)
			    }
			})
			this.filesob = logoarray;
			this.assets = assets;
	    	})
	        .catch(function (error) {
	            console.log(error)
	        })
			
	},
	created:function(){
            const loadingComponent = this.$loading.open()
            setTimeout(() => loadingComponent.close(), 3 * 1000)
	},
    computed: {
	    bgc () {
	      return this.colors.hex
	    }


	  },
	watch: {

	    'list':  {
	        handler:function (val){
	            if(val == true)
	            {
	            	this.grid=false;
	            }
	            if(val != true){
	            	this.grid=true;
	            }
	        }
	    },  
	    'start':  {
	        handler:function (val){
	            if(val < 0)
	            {
	            	this.start = 0;
	            	this.end = 3
	            }
	            if(val > this.assets.length){
	            	this.start= this.assets.length
	            }
	        }
	    }, 
	    'end':  {
	        handler:function (val){
	            if(val > this.assets.length)
	            {
	            	this.start = this.assets.length - 3;
	            	this.end = this.assets.length
	            }
	            
	        }
	    },  	   
	     'start1':  {
	        handler:function (val){
	            if(val < 0)
	            {
	            	this.start1 = 0;
	            	this.end1 = 3
	            }
	            if(val > this.filesob.length){
	            	this.start1= this.filesob.length
	            }
	        }
	    }, 
	    'end1':  {
	        handler:function (val){
	            if(val > this.filesob.length)
	            {
	            	this.start1 = this.filesob.length - 3;
	            	this.end1 = this.filesob.length
	            }
	            
	        }
	    },  
	    'activetab':  {
	        handler:function (val){
	            if(val == 3  )
	            {
	            	this.activetab=0;
	            }	           
	            if(val== -1)
	            {
	            	this.activetab=2;
	            }
	            
	        }
	    }, 
	    'grid':  {
	        handler:function (val){
	            if(val == true)
	            {
	            	this.list=false
	            }
	            if(val != true){
	            	this.list=true;
	            }
	        }
	    }
	}
  }


</script>
<style scoped>
  @import '../css/product.css'
</style>