<template>
    <main-layout>
        <div class="container ">
        <div class="columns ">
            <div class="column"><br><br><br><br><br><br>
                <div class="column is-half is-offset-one-quarter">
                <img src="../imgs/logo.png">
                <br><br>
                <h2 class="title">Sign Up</h2>
                <form v-on:submit.prevent="RegisterUser()">
                <div class="field">
                    <span >Username</span>
                  <p class="control  has-icons-right">
                    
                    <input class="input is-medium" type="text" placeholder="Username" v-model="username">
                    <span v-if="erruser" class="help is-danger"> 
                        {{ erruser }}
                    </span>                    
                    <span v-if="erruser2" class="help is-danger"> 
                        {{ erruser2 }}
                    </span>
                  </p>
                </div>  
                <div class="field">
                    <span>Your brand name</span>
                  <p class="control  has-icons-right">
                    <input class="input is-medium" type="text" placeholder="Brand Name"  v-model="company" >
                      <span v-if="errcomp" class="help is-danger"> 
                        {{ errcomp }}
                    </span>
                  </p>
                </div>
                <div class="field">
                    <span>email address name</span>
                  <p class="control  has-icons-right">
                    <input class="input is-medium" type="email" placeholder="Email address" v-model="email">
                    <span v-if="erremail1" class="help is-danger">
                        {{erremail1}}
                    </span>
                    <span v-if="erremail" class="help is-danger"> 
                        {{ erremail }}
                    </span>
                  </p>
                </div>
                <div class="field">
                <span>Password</span>
                  <p class="control">
                    <input class="input" type="password" placeholder="Enter password" v-model="password"   >
                    <span v-if="password">
                    <span v-if="password.match(/((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%*&^_-]).{6,25})/)" class="help is-success">the password is good</span>
                    <span class="help is-danger" v-else>
                        "Passwords must have at least one non letter or digit character. Passwords must have at least one digit ('0'-'9'). Passwords must have at least one uppercase ('A'-'Z')."
                    </span>
                    </span>
                     <span v-if="errpass" class="help is-danger"> 
                        {{ errpass }}<br>
                        {{ errpass2 }}<br>
                    </span>
                  </p>
                    <p class="control">
                    <input class="input" type="password" placeholder="Retype password" v-model="retype" >
                    <transition name="fade">
                    <span v-if="retype">
                    <span v-if="retype === password" class="help is-success">password match</span>
                    </span>
                </transition>
                  </p> 
                  <span v-if="errpass3" class="help is-danger">
                    {{ errpass3 }}
                    </span>

                </div>
                <div class="field">
                <p class="control">
                    <a href="#"> <input type="submit" class="button is-medium" value="Signup"/></a>
                </p>  
                </div>
               </form>
                <span class="addit"><a href="/login" >have an account? login</a></span>
            </div>
            </div>
        </div>
        </div>
        </div>
  </main-layout>
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import axios from 'axios'
  export default {
      components:{
        PulseLoader
    },
    data: function(){
        return {
        	username:'',
        	password:'',
            retype:'',
        	company:'',
            email:'',
        	loginsucces:false,
            errcomp:'',
            erremail:'',
            erremail1:'',
            errpass:'',
            errpass2:'',
            errpass3:'',
            erruser:'',
            erruser2:'',
            item_regex: null,
        }
      },
    methods:{
            RegisterUser() {
                axios.post('https://brandsaviouragain.azurewebsites.net/api/Account/Register', {
                UserName: this.username,
                CompanyName: this.company,
                Email: this.email,
                Password: this.password,
                RoleID: 1,
                CreateDate:"2017-11-23T07:03:53.6542874-08:00",
                UpdateDate: "2017-11-23T07:03:53.6542874-08:00"
            })
            .then(function (response) {
                console.log(response);
                 this.$toast.open({
                    message: 'signing up (successful)',
                    type: 'is-info'
                })
            })
            .catch(error => {
                this.$toast.open({
                    message: 'signing up (unsuccessful)',
                    type: 'is-danger'
                })
                console.log(error.response.data.modelState);
                if ( error.response.data.modelState[""] != undefined) {
                    this.erruser2 = error.response.data.modelState[""][0]
                    this.erremail1 = error.response.data.modelState[""][1]
                    this.erruser = ""
                     this.errcomp =""
                    this.erremail = ""
                    this.errpass = ""
                    this.errpass2 = ""
                }
                else  {
                    this.erruser = error.response.data.modelState["model.UserName"][0]
                    this.errcomp = error.response.data.modelState["model.CompanyName"][0]
                    this.erremail = error.response.data.modelState["model.Email"][0]
                    this.errpass = error.response.data.modelState["model.Password"][0]
                    this.errpass2 = error.response.data.modelState["model.Password"][1]
                    this.erruser2 = ""
                    this.erremail1 =""
                 }
            })
            },
        success() {
           
        },
        unsuccess() {
            this.$toast.open({
                message: 'signing up  (unsuccessful)',
                type: 'is-danger'
            })
        },
        openProgrammaticallyLoading() {
            const loadingComponent = this.$loading.open()
            setTimeout(() => {
                loadingComponent.close()
            }, 3 * 1000)
        }
    },
    mounted() {
            this.item_regex = /((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{6,20})/
      }
  }
</script>
<style scoped>

.forgot{
    display: inline-block;
    float: right;
    text-align: right;
    color: #0070e0;
}
input:focus {
    color: #0070e0;
}

.button{
background: #0070e0;

}

a  input {
    color: #fff;
    text-decoration: none !important;

}
a  input:hover {
    opacity: 0.9;
        color: #fff;
}
</style>