<template>
	<div class="card">
	  <div class="card-content">
        <div class="upload-haeder">
       	 	<h2>Upload</h2>
       	 	<div class=" close is-large" @click="$parent.close()">
       	 		x
       	 	</div>
   		</div>
		<div class="content">
                    <section class="section">
                    <!-- {{ progress }} -->
                    <progress class="progress is-info" :value="progress" max="100" ></progress>
					<b-field>
                        <b-upload v-model="dropFiles"  id="file" drag-drop multiple>
                            <section class="section">
                                <div class="content has-text-centered">
                                <div class="uploads">
                                    <span class="fa fa-arrow-up is-info"></span>
                                </div>
                                    <p>Drop your files here or click to upload</p>
                                </div>
                            </section>
                        </b-upload>
                    </b-field>
                    <div class="tags">
                        <span v-for="(file, index) in dropFiles"
                            :key="index"
                            class="tag is-primary" >
                            {{file.name}}
                            <button class="delete is-small"
                                type="button"
                                @click="deleteDropFile(index)">
                            </button>
                        </span>
                    </div>
                    <button type="button" class="button is-info is-medium " @click="uploadlogo()" >Upload</button>
                    <br>
                    <br>
					</section>
	    </div>
	  </div>
	</div>
</template>

<script>
import axios from 'axios'
import qs from 'qs'
 export default {

	props: [

	],

    data: function(){
        return {
        self:this,
        dropFiles:[],
        dropFiles2:[],
        status:"",
        files:[],
        filesob:[],
        assets:[],
        progress:0,
        /*Local Storage Varaible*/
        username: localStorage.getItem("username"),
        token:localStorage.getItem("token")	,
        /*Local Storage Varaible*/
	 	}
	 },
  	methods:{	 
        deleteDropFile(index) {
                this.dropFiles.splice(index, 1)
            },        
        deleteDropFile2(index) {
                this.dropFiles2.splice(index, 1)
        },
        countfile(){
            var inp = document.getElementById('file1');
            for (var i = 0; i < inp.files.length; ++i) {
              alert("here is a file counts: " + i);
            }
            console.log(i)
        },
        uploadlogo(){
            let data = new FormData();
            var inp = document.getElementById('file');
            for (var i = 0; i < inp.files.length; ++i) {
              data.append('file', document.getElementById('file').files[i]);
            }
            axios({
            method: 'post',
            url:'https://brandsaviouragain.azurewebsites.net/api/document/upload/'+this.username+'/1',
            headers: {
                'Content-Type':'multipart/form-data',
                'Authorization': 'Bearer ' + this.token,
            },
            data,
            onUploadProgress: (progressEvent => {
               var percentCompleted = Math.round( (progressEvent.loaded * 100) / progressEvent.total );
               this.progress = percentCompleted
               console.log("Progress = " + this.progress );
            }),
            }).then(response => {
                console.log(response);  
                this.$toast.open({
                    duration: 5000,
                    message: "Files Insterted",
                    type: 'is-info'
                })
                axios({
                    method: 'get',
                    url:'https://brandsaviouragain.azurewebsites.net/api/User/getUserFile/'+this.username,
                    headers: {
                        'Content-Type':'application/json',
                        'Authorization': 'Bearer ' + this.token,
                    }
                    })
                    .then(response => {
                    console.log(response.data)
                    this.files = response.data
                    let logoarray=[]
                    let assets=[]
                    this.files.map(function(value){
                        if(value.isLogo === true){
                            logoarray.push(value)
                        }
                        else if(value.isLogo === null){
                            logoarray.push(value)
                        }
                        else if(value.isLogo === false){
                            assets.push(value)
                        }
                    })
                    this.filesob = logoarray;
                    this.assets = assets;
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            })
            .catch(error => {
                this.$toast.open({
                    duration: 5000,
                message: error.response.data,
                type: 'is-danger'
                })
            })
        },  		
        uploadassets(){
            let data = new FormData();
            var inp = document.getElementById('file1');
            for (var i = 0; i < inp.files.length; ++i) {
              data.append('file', document.getElementById('file1').files[i]);
            }
            axios({
  			method: 'post',
			url:'https://brandsaviouragain.azurewebsites.net/api/document/upload/'+this.username + '/0',
			headers: {
				'Content-Type':'multipart/form-data',
				'Authorization': 'Bearer ' + this.token,
			},
			data,
	    	onUploadProgress: (progressEvent => {
               var percentCompleted = Math.round( (progressEvent.loaded * 100) / progressEvent.total );
               this.progress = percentCompleted
               console.log("Progress = " + this.progress );
            }),
            }).then(response => {
                console.log(response);  
                this.$toast.open({
                    duration: 5000,
                    message: "Files Insterted",
                    type: 'is-info'
                })
            })
            .catch(error => {
                this.$toast.open({
                    duration: 5000,
                message: error.response.data,
                type: 'is-danger'
                })
            })
  		}
    },
	}
</script>
<style scoped>


    .upload-haeder{
        background: #F5F7F9;
        padding: 2em;
    }
    .close{
    	width: 35px;
    	height: 35px;
    	position: absolute;
    	text-align: center;
    	top:0;
    	right: 0;
    	margin:2em;
    	font-size: 1em;
    	line-height: 1;
    	cursor: pointer;
    	background-color: grey;
    	padding:10px;
    	color:#fff;
    	border-radius: 4px;
    	transition: all 1s;
    }    
    .close:hover{
		background-color: #E62F32;
    }
    .tag:not(body).is-primary{
        margin-top: 10px;
        background-color: #1496ed;
    }
    .tag:not(body){
        height: 2em;
    }
</style>