<template>
  <div class="card">
    <header class="card-header is-dark">
      <h3 class="card-header-title">
      
      <br>
        User settings
      </h3>
        <span >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </header>

    <div class="card-content">

      <div class="tabdata-t">
        <b-tabs v-model="activeTab" class="" >
            <b-tab-item label="General" >
            <div class="tabdata">
              <div class="field ">
                <p class="control">
                <label>Name</label>
                  <input class="input" type="text" placeholder="Your Name" value="Brand Manager">

                </p>
                <p class="control">
                <label>Email</label>
                  <input class="input" type="text" placeholder="Your Email" value="mayday@brandsaviour.com">

                </p>
                <br>
                <p class="control">
                  <input class="button is-info is-fullwidth button-pad" type="submit" value="Done" @click="$parent.close()"></p>
                </p>
              </div>
              </div>
            </b-tab-item>
            <b-tab-item label="Notification">
            </b-tab-item>
        </b-tabs>
        <br>
        <br>

      </div>
    </div>
  </div>
</template>
<style scoped>
  .card{
    border-radius: 0px ;
    border:0px transparent;
    box-shadow: 0 0 0 rgba(10, 10, 10, 0), 0 0 0 1px rgba(10, 10, 10, 0);
    overflow: hidden;
  }
  .columns{
    justify-content: space-around;
  }
 .is-info{
  background: #0070e0;
 }
 .is-dark{
  background: #222222;
 }
 .card-header h3{
  color: #fff;
  font-weight: 200;
  padding-left: 25px;
 }
 .card-content{
  padding: 0rem;
 }
 
   input{
    border-left: 0 ;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    border-bottom: 2px solid lightgrey;
  }
   input:focus{
    border-bottom: 1px solid #0070e0;
  }
  .tabdata{

  }
  .tabdata-t{
    padding-right: 40px;
    padding-left:40px;
  }
  .width{
    width: 80% 
  }
  button.button, input[type="submit"].button{
    padding-top:20px;
    padding-bottom: 30px;
  }

</style>
