<template>
    <main-layout>
        <div class="container">
	        <div class="columns" >
	            <div class="column" v-if="flag1"><br><br><br><br><br><br>
	            	<h2 class="title has-text-centered">Step 1 Upload Your Logo</h2>
	                <div class="column is-half is-offset-one-quarter">
	               		<b-field>
	                        <b-upload v-model="dropFiles"  id="file" drag-drop>
	                            <section class="section">
	                                <div class="content has-text-centered">
	                        		<img src="images/icon1.png">
	                                    <p>Drop your files here or click to upload</p>
	                                </div>
	                            </section>
	                        </b-upload>
	                    </b-field>
	                </div>
	                <div class="tags">
	                	 <div class="control">
					    <div class="tags has-addons" v-for="(file, index) in dropFiles" :key="index">
					      <a class="tag is-link">{{file.name}}</a>
					      <a class="tag is-delete" @click="deleteDropFile(index)"></a>
					    </div>
					  </div>
	                </div>                
	                <div class="field">
	                    <button type="submit" class="button is-medium has-text-white" @click="switchStep1()">Step 2 Name Your Brand</button>
	                </div>
	            </div>
	            <div class="column" v-if="flag2"><br><br><br><br><br><br>
	            	<h2 class="title has-text-centered">Step 2 Name Your Brand</h2>
	            	<div class="has-text-centered">
	            	</div>
	                <form v-on:submit.prevent="RegisterUser()">
	                <div class="field">
	            	<img src="images/icon1.png" id="blah">
	                    <span >Brnad Name</span>
	                  <p class="control has-icons-right w-50">
	                    <input class="input is-medium" type="text" placeholder="Google" v-model="username">
	                  </p>
	                </div>  
	            	</form>
	                <div class="field">
	                    <button type="submit" class="button is-medium has-text-white" @click="switchStep2()">Step 3 Upload Your Assets</button>
	                    <a href="#" @click="prevStep()">Previous Step</a>
	                </div>
	            </div>		            
	            <div class="column" v-if="flag3"><br><br><br><br><br><br>
	            	<h2 class="title has-text-centered">Step 3 Upload Your Assets</h2>
						<div class="columns is-desktop">
						  <div class="column">
						    <p class="bd-notification is-primary info has-text-centered" @click="isuploadModalActive ^= true">Print Files</p>
						  </div>
						  <div class="column">
						    <p class="bd-notification is-primary info has-text-centered" @click="secondClick()">Mockups</p>
						    <transition name="fade">
				                <b-field v-if="second">
						            <b-upload v-model="dropFiles"
						                multiple
						                drag-drop>
						                <section class="section">
						                    <div class="content has-text-centered">
						                    	<span class="fa fa-upload fa-2x p-1"></span>
						                    </div>
						                </section>
						            </b-upload>
						        </b-field>
						    </transition>
						  </div>
						  <div class="column">
						    <p class="bd-notification is-primary info has-text-centered">Videos</p>
						  </div>
						  <div class="column">
						    <p class="bd-notification is-primary info has-text-centered">Documents</p>
						  </div>
						</div>
	                <div class="field">
	                    <button type="submit" class="button is-medium has-text-white">Let's Get You Started</button>
	                    <a href="#" @click="prevStep2()">Previous Step</a>
	                </div>
	            </div>	            
	    	</div>
        </div>
        	<b-modal class="uploadmodal" :active.sync="isuploadModalActive"  has-modal-card >
			   <upload-setup></upload-setup>
			</b-modal>
  </main-layout>
</template>
<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
import uploadSetup from './uploadSetup.vue'

import axios from 'axios'
  export default {
      components:{
        PulseLoader,
        uploadSetup
    },
    data: function(){
        return {
        	files:[],
        	imageData:"",
        	dropFiles:[],
        	flag1:true,
        	flag2:false,
        	isuploadModalActive:false,
        	flag3:false,
        	first:false,
        	second:false,
        	third:false,
        	fourth:false,
        }
      },
    methods:{
    	switchStep1(){
    		this.flag1 = false
    		this.flag3 = false
    		this.flag2 = true
    	},
	   	switchStep2(){
    		this.flag1 = false
    		this.flag2 = false
    		this.flag3 = true
    	},
    	prevStep(){
    		this.flag1 = true
    		this.flag2 = false
    	},
    	prevStep2(){
    		this.flag1 = false
    		this.flag2 = true
    		this.flag3 = false
    	},
    	secondClick(){
    		this.second ^= true
    	},
            RegisterUser() {
                axios.post('https://brandsaviouragain.azurewebsites.net/api/Account/Register', {
                UserName: this.username,
                CompanyName: this.company,
                Email: this.email,
                Password: this.password,
                RoleID: 1,
                CreateDate:"2017-11-23T07:03:53.6542874-08:00",
                UpdateDate: "2017-11-23T07:03:53.6542874-08:00"
            })
            .then(function (response) {
                console.log(response);
                 this.$toast.open({
                    message: 'signing up (successful)',
                    type: 'is-info'
                })
            })
            .catch(error => {
                this.$toast.open({
                    message: 'signing up (unsuccessful)',
                    type: 'is-danger'
                })
                console.log(error.response.data.modelState);
                if ( error.response.data.modelState[""] != undefined) {
                    this.erruser2 = error.response.data.modelState[""][0]
                    this.erremail1 = error.response.data.modelState[""][1]
                    this.erruser = ""
                     this.errcomp =""
                    this.erremail = ""
                    this.errpass = ""
                    this.errpass2 = ""
                }
                else  {
                    this.erruser = error.response.data.modelState["model.UserName"][0]
                    this.errcomp = error.response.data.modelState["model.CompanyName"][0]
                    this.erremail = error.response.data.modelState["model.Email"][0]
                    this.errpass = error.response.data.modelState["model.Password"][0]
                    this.errpass2 = error.response.data.modelState["model.Password"][1]
                    this.erruser2 = ""
                    this.erremail1 =""
                 }
            })
            },
        success() {
           
        },
        unsuccess() {
            this.$toast.open({
                message: 'signing up  (unsuccessful)',
                type: 'is-danger'
            })
        },
    },
    mounted() {
           
      }
  }
</script>
<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
}
.info:hover{
	cursor:pointer;
	opacity:0.6;
}
.info{
	color:#fff;
	margin-top:3rem;
	background-color:#1A7FE3;
	padding:1em;
}
.forgot{
    display: inline-block;
    float: right;
    text-align: right;
    color: #0070e0;
}
input:focus {
    color: #0070e0;
}

.button{
	background: #0070e0;
}
.upload .section{
	padding:0
}
p-1{
	padding:0.75rem;
}
a  input {
    color: #fff;
    text-decoration: none !important;

}
a  input:hover {
    opacity: 0.9;
        color: #fff;
}
.field{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center
}
.tags{
	display:flex;
	justify-content:center;
	color:#fff !important
}
#blah{
	width:200px;
	height:200px;
	object-fit:contain
}
.w-50{
	width:50% !important;
}
.is-link{
	font-size:1em;
}
.is-delete{
	font-size:1em;
	color:#000 !important
}
</style>