 
 body html{
    font-family: Pigiarniq;
   }
  .fa-chevron-down{
  	color:#0070e0;
  	font-size: 15px;
  	vertical-align: 3px;
  }
.figure{
 	border-radius: 8px;
   	width: 330px !important;
  	height: 328px !important;
}
.figure:hover{
	background: rgba(255,255,255,0.5);
	z-index: 111;
	border-radius: 0px !important;
}
.picker{
  z-index: 1000;
  position: absolute !important;
  top: 0
}
	.table td{
	  -webkit-transition: opacity 1s ease;
         -o-transition: opacity 1s ease;
            transition: opacity 1s ease;
	}
	.about{
	
	}
	.notification{
		background: #fff5f5;
		border-radius: 10px;
		margin-top:10px
	}
	.blue{
		color:#2082e4;
	}
	.company-header{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-bottom: 1em;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.company-header input{
		border-left: 0 ;
		border-right: 0;
		border-top: 0;
		-webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
		        box-shadow: 0 0 0 0 rgba(0,0,0,0);
		border-bottom: 2px solid lightgrey;
	}
	.company-header input:focus{
		border-bottom: 1px solid #0070e0;
	}

	.list table img{
	  width: 40px;
	  margin-top: 10px; 
	  margin-bottom: 10px; 
	  margin-left: 20px; 
	  vertical-align: middle;
	}
	.grid table img{
	  width: 40px;
	  margin-top: 10px; 
	  margin-bottom: 10px; 
	  margin-left: 20px; 
	  vertical-align: middle;
	}
	.grid-img{
		height: 256 * 1px;
	  	width: 256 * 1px;
	}
	.icon-grid-list{
		float: right;
		width: 1px;
		margin-right:10px;
	}
	.fa-trash-o{
		display: none;
	}
	.icon-trash{
		float: right;
		color: #ef6b6d;
		display: block;
	}
	table tr:hover{
		color:#0070e0;
		background: transparent !important;
	}
	.active-table-row{
		color:#0070e0;
		background: transparent !important;
	}
	.clone{
		padding-top: 6px;
		font-size: 12px;
		cursor: pointer !important;
		float: right;
		right: 0;
		text-align: right;
	}
	.list-d-n{
		margin-left:20px;
	}
	.section{
		padding: 1rem 1.5rem;
	}
	.table td{
		vertical-align: middle;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		   text-overflow: ellipsis;
		width: ;
	}	
	.table td img{
		width: 30px;
	}
	.right-nav{
		float: right !important;
		border: none transparent;
	}
	.tag{
		float :right;
	}
	.not-active {
   pointer-events: none;
   cursor: not-allowed;
}
	.image-fit img{
		-o-object-fit: contain;
		   object-fit: contain;
	}	
	.filetype{
		position: relative;
		z-index: 555;
		padding-right:10px;
	}
	.image-fit-png img{
		-o-object-fit: contain;
		   object-fit: contain;
		background-image: url(https://static3.bigstockphoto.com/6/0/1/small2/106749185.jpg);
	}	
	.image .is-1by1{
		background-image: none
	}
	.modal-close.is-large{
		display: none;
	}
	.animation-content {
		width: 500px;
	    max-width: 960px !important;
	    max-height: 90% !important;
	    overflow: hidden !important;
	    overflow-y: hidden  !important;;
	}
	.fixed-card{
		position: fixed;
		width: inherit;
	}
	.is-one-third-desktop >.column{
		padding: 0em;
	}
	.card .column{
		padding: 0em;
	}
	.fa-is-info{
		width: 35px;
		height: 35px;
		background: grey;	
		border-radius: 0px;
		color:#fff;
		font-size: 24px;
		left: 0;
		z-index: 111;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
		position: absolute;
		float: left;
		text-align: center;
		cursor: pointer;
		-webkit-transition: all .5s;
		-o-transition: all .5s;
		transition: all .5s;
		-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	}
	.is-info{
		color:#0070e0;
	}
	.fa-is-info:hover{
		color:#fff;
		opacity: 0.5;

	}
	.card{
		border:0px transparent;
		-webkit-box-shadow: 0 0 0 rgba(10, 10, 10, 0), 0 0 0 1px rgba(10, 10, 10, 0);
		        box-shadow: 0 0 0 rgba(10, 10, 10, 0), 0 0 0 1px rgba(10, 10, 10, 0);
	}
	.discription p:not(:last-child), .discription dl:not(:last-child), .discription ol:not(:last-child), .discription ul:not(:last-child), .discription blockquote:not(:last-child), .discription pre:not(:last-child), .discription table:not(:last-child){
		margin-bottom:5px;
		margin-left: 0px;
	}
	.discription p{
		padding-top: 0;
		padding-left:0px;display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	.discription img{
    padding-right: 10px;
    padding-left: 10px;
	}
	.discription_d{
		float: right;
	}
	.card-block{
		margin: 10px;
	}
	.card .conatiner-fluid{
		padding-left: 0;
		padding-right: 0;
	}
	.card > .card-content{
		padding:0;
	}
	.conversion{
		display: inline-block;	
		padding-bottom:15px;
	}
	.conversion .file{
		display: inline-block;
		padding-right: 10px;
		padding-left: 10px;
		padding-top:6px;
		border-radius: 4px;
		border:solid 1px transparent;	
	}
	.conversion .file:hover{
		border:solid 1px #0070e0;	
	}
	.icon-active-color{
		background: #e6e8eb;
	}
	.conversion img{
		padding-bottom: 6px;
		width: 30px;
	}
	.conversion h4{
		margin-bottom: 0.2em;
	}
	.conv{
		width: 100px;
		border-radius: 0;
		margin-right: 30px;

	}
	.conversion form{
		margin-bottom: 50px;
	}
    .b-tabs .tab-content {
        height: 80vh !important;
        overflow-y:scroll; 
    }    

	.button-ds{ /* Safari 6.1+ */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

	}

	.button-block{ 

		display: -webkit-box !important; 

		display: -ms-flexbox !important; 

		display: flex !important;
		-ms-flex-line-pack: stretch;
		    align-content: stretch;
	 	
	}
	.width, .height{
		display: inline-block;
	}
	.primary{
		background:#F7F9FA;
		border: 1px solid #dbdbdb;
		cursor: pointer;
	}
	.right{
		float: right;
		opacity: 0.1;
		padding: 10px

	}
	.right:hover{
		opacity: 1;
		cursor: pointer;
	}
	.right:nth-child(1)::after{
		content: " Grid"
	}
	.right:nth-child(2)::after{
		content: " List";

	}
	.download{
		background: #0070e0;
		color:white;
		border: none;
		cursor: pointer;
	  -webkit-transition: opacity 1s ease;
         -o-transition: opacity 1s ease;
            transition: opacity 1s ease;
	}
	.download:hover{
		opacity: 0.8;

	}
	.card-color{
		margin-right: 150px;

	}
	.cardcolor{
		width: 33.33%;
	}
	.color{
		
		padding: 20px;
		color: white;
	  -webkit-transition: opacity 1s ease;
         -o-transition: opacity 1s ease;
            transition: opacity 1s ease;
	}
	.color:hover{
		opacity: 0.6;
	}
	#one{
		background: #EF4038;
	}
	#two{
		background: #0480BF;
	}

	#three{
		background: #E92129;
	}
	#four{
		background: #FFD003;
	}
	#five{
		background: #211F20;
	}
	#six{
		background: #606060;
	}
	@media screen and (max-width: 768px) {
	.about{
		margin-left: 0;
	}
	}
	.show-tab-modal{
	  	display: none !important;
		visibility: hidden !important;
	}
	.notification>.delete{
		position: absolute;
		top: 1.3em;
	}
	.side-info{
		z-index: 11111;
		position: fixed;
		float:right !important;
		right: 0;
		top: 0;
		height: 100vh;
		background: white;
	}
	.fade{
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}
	.slide-fade-enter-active {
	  -webkit-transition: all .3s ease;
	  -o-transition: all .3s ease;
	  transition: all .3s ease;
	}
	.slide-fade-leave-active {
	  -webkit-transition: all .0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	  -o-transition: all .0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	  transition: all .0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
	  display: none;
	}
	.slide-fade-enter, .slide-fade-leave-to
	/* .slide-fade-leave-active below version 2.1.8 */ {
	  -webkit-transform: translateX(10px);
	      -ms-transform: translateX(10px);
	          transform: translateX(10px);
	  opacity: 0;
	}
	.fa-bars,.fa-th-large{
		color:#cccccc !important;font-size: 16px;
	}
	.icon-field{
		cursor: pointer;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-item-align: center;
		    align-self: center;
	}
	.listgrid{

	    border-radius: 3px;
	    margin-left: 4px;
	    padding: 5px;
	    text-align: center;
	    vertical-align: middle;
	    font-size: 1.1em;
	    line-height: 0.5;
		border:1px solid #cccccc;
	}	
	.listgrid-active  {
		border:1px solid #339ee6;
	}
	.listgrid-active>.fa-bars  {
		color: #339ee6 !important;
	}
	.listgrid-active>.fa-th-large  {
		color: #339ee6 !important;
	}
	/* colors*/
	.tag{
		float: left;
		border-radius: 0;
		margin-right: 5px;
	}
	.color-d{
		margin-left: 10px;
	}
	.color-grid .card{
		
		
	}
	.color-grid .card p{
		margin-bottom: 0;
	}
	.card > .image{
		margin:10px;
	}
	figure .button{
		background: transparent;
		border: none transparent;
	}
	.switch:hover input[type=checkbox]:checked + .check{
		background: #0070e0;
	}
	.switch input[type=checkbox]:checked + .check {
		background: #0070e0;
	}
	.grid-img{
		margin-left: 11px;
	}
	.card-deck .card:not(:last-child){
		margin-left: 0;
		margin-right: 0;
	}
	.card-deck .card:not(:last-child){
		margin-left: 0;
	}
	.card-deck .card:not(:first-child){
		margin-left: 0;
		margin-right: 0;
	}
	.hidden-true{
		display: none
	}
	@media only screen and (min-device-width: 520px) and (max-device-width: 768px) and (orientation:portrait) {
    .hidden-mobile-ipad {
    	position: absolute;
    	top:16px;
    	left: 14px;	
        display: block !important; 
        visibility: visible !important; 
        z-index: 555;
      }
	.hidden-mobile-ipad-button {
        display: block !important; 
        visibility: visible !important; 
      }
    }
	@media screen and (max-width: 1024px) {
    .hidden {
	  display: none !important;
	  visibility: hidden !important;
	}
		.image.is-square, .image.is-3by2{
		padding-top: 150px !important;
	}

	}

	@media screen and (max-width: 520px) {
	    .hidden-mobile-r {
		  display: block !important;
		  visibility: visible !important;
		}

	}
	@media screen and (max-width: 519px) {
	    .hidden-mobile-r {
		  display: none !important;
		  visibility: hidden !important;
		  padding: 0 !important;
		  margin: 0 !important;
		}
	}
	@media screen and (min-width: 1025px) {
/*	.show-tab-modal{
	  	display: none !important;
		visibility: hidden !important;
		overflow:visible !important;
	}*/
	.animation-content{
		overflow-y: visible !important;
	}
	.modal{
		overflow:visible  !important;
	}
	}
	@media screen and (min-width: 520px) {
	.show-mobile{
	  	display: none !important;
		visibility: hidden !important;
	}

	}
	@media screen and (min-width: 520px) {
	.show-mobile-bar{
	  	display: none !important;
		visibility: hidden !important;
	}
	}
	@media screen and (max-width: 520px) {
			.table td{
		vertical-align: middle;
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		-o-text-overflow: ellipsis;
		   text-overflow: ellipsis;
		width: initial;
	}
		p.test1 {
		    white-space: nowrap; 
		    width: auto; 
		    border: 1px solid #000000;
		    overflow: hidden;
		    -o-text-overflow: ellipsis;
		       text-overflow: ellipsis;
		}
		.section {
			padding:0.5em;
		}	
		.mobile-logo{
			margin-top: 5px;
			max-width: 100%;
		}
		.user-icon{
			margin-top: 5px;
		}
		.title{
			font-size: 25px;
		}
		.title:not(:last-child), .subtitle:not(:last-child){
			margin-bottom: 0.4em;
		}
		.block .tabs li.is-active a{
			color: #0070e0 ; 
			border-bottom: #0070e0 !important;
		}
		.tabs:not(:last-child) {
		    margin-bottom: -16px;
		}
	}
.no-margin{
	margin-left: 0;
	margin-right: 0;
}
.list-show{
		display: block!important ;
}
.list-none{
		display: none !important;
}
.grid-none{
		display: none !important;
}
.grid-show{
		display: block !important;
}

/*Drag & Drop upload*/
.control,
.upload .upload-draggable{
	width: 100%
}
.drag-drop{
	border-style: dotted;	
	border-color: rgba(81, 82, 83,0.2);
	border-radius:8px;
}
 .uploads{
 	display: inline-block;
 	padding:1em;
    width: 60px;
    height: 60px;
	border-radius: 100%;
	border: 4px solid #339EE6;
	margin: 1em;
}
.uploadmodal .animation-content{
	width: 960px;
}
.uploadmodal .animation-content .content .b-tabs .tab-content {
    height: 50vh !important;
    overflow-y:hidden; 
}
.uploadmodal .animation-content .content ul{
    	margin-left: 0
}
.uploadmodal .animation-content .tabs {
    	padding:1em;
    	padding-top: 0
}
.upload .fa{
	line-height: 1
}
.file-upload{
	text-decoration: underline;
	font-weight: 600;
}
.file-upload:hover{
	text-decoration: none;
}
/*Drag & Drop upload*/
input[type="file"]{
 display: none;
}
/*add item button*/
.add-item{
	vertical-align: middle;
}
.add-item-button .fa {
	font-size: 1em !important;
}
.add-item-button{
	color:#339EE6;
	border-width: 1px;
	border-color:#339EE6;
	-webkit-box-shadow: 0px;
	        box-shadow: 0px; 
	-webkit-transition: all 1s; 
	-o-transition: all 1s; 
	transition: all 1s;
	border-radius: 4px;
}
.add-item-button:hover{
	color:#339EE6;
	border-width: 1px;
	border-color:#339EE6;
	-webkit-box-shadow: 0px ;
	        box-shadow: 0px ;
	opacity: .5
}
.add-item-button:active{
	color:#339EE6;
	border-width: 1px;
	border-color:#339EE6;
	-webkit-box-shadow: 0px;
	        box-shadow: 0px; 
	-webkit-transition: all 1s; 
	-o-transition: all 1s; 
	transition: all 1s;
	border-radius: 4px;
}
/*loader*/

.spinner {
	display: inline-block;
	height: 2em;
	width: 2em;
	-webkit-animation: rotate 0.8s infinite linear;
	        animation: rotate 0.8s infinite linear;
	border: 4px solid #339EE6;
	border-right-color: transparent;
	border-radius: 50%;
}

@-webkit-keyframes rotate {
	0%    { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100%  { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes rotate {
	0%    { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
	100%  { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
.greybox{
	vertical-align: middle;
	display: inline-block;
	width: 2em;
	height: 2em;
	background-color: lightgrey;
	opacity:0.2;
}

/*Pagination*/
.pagination, .pagination-list{
	-webkit-box-align: normal;
	    -ms-flex-align: normal;
	        align-items: normal;
}
/*table focus*/
.table tr.is-selected{
	background-color: transparent !important;
	color:#0070e0;
}
/*toast*/
.notices .toast.is-danger{
	background-color: rgba(230, 47, 50,0.8);
}
.notices .toast{
	
	-webkit-box-shadow: 0 0 0 0 transparent;
	        box-shadow: 0 0 0 0 transparent
}
.notices.is-toast{
	z-index: 111111111;
}

/*Progress Bar*/
.progress:not(:last-child) {
    /* margin-bottom: 1.5rem; */
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    border-radius: 0;
}
/*grid Padding for firefox*/
.image.is-square, .image.is-3by2{
	padding-top: 300px;
}
.upload-text{
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: column;
}
.m-0{
	margin: 0!important
}
.p-0{
	padding: 0!important
}
.title:not(:last-child), .subtitle:not(:last-child){
	margin-bottom: 0rem !important
}