<template :sidebar="vshow" >
<!-- v-bind:class="{'container-view':vshow}" -->
  <div class="container-view"  transition="fade" id="vshow" v-if="username">
    <div class="">
       <button class="hidden-true hidden-mobile-ipad hidden-mobile-ipad-button button" @click="vshow = !vshow" > 
          <i class="fa fa-bars"></i>
        </button>
      <div v-bind:class="{ 'modal-background': vshow, 'hidden-mobile-ipad': vshow }" @click="vshow = !vshow"></div>
      <nav v-bind:class="{ menu: vshow, 'hidden-mobile-ipad': vshow }"  tabindex="0"  style="display:none" >
        <transition class="fade">
          <button class="hidden-true hidden-mobile-ipad-button ipad-button button" @click="vshow = !vshow" > 
            <i class="fa fa-times"></i>
          </button>
        </transition>   
        <a href="/">
        <div class="logo" ><img src="dist/logo_circle.svg" width="50px"></div>
        </a>
        <ul>
        <a href="/demo" v-on:click="show = !show" >
          <li class="brand">{{ brand }}&nbsp;&nbsp;&nbsp;<span v-bind:class="{ 'fa-caret-up': show}"class="fa fa-caret-down"></span></li>
        </a>
        <transition name="fade">
        <div v-if="show">
          <a href="#" v-scroll-to="'#Logo'"><li ><span  class="item">Logo</span></li></a>
          <a href="#" v-scroll-to="'#Colours'"><li ><span  class="item">Colours</span></li></a>
          <a href="#" v-scroll-to="'#Assets'"><li ><span  class="item item-last">Assets</span></li></a>
        </div>
        </transition>
        </ul>
        <ul class="add-brand " @click="isComponentModalAddActive = true">
          <a href="#" ><li class="add-brand-padding"><span >Add Brand</span></li></a>
        </ul>
        <ul>
        <a href="#" class="link_black" @click="isComponentModalAddActiveuser = true"><li>Settings</li></a>
          <a href="/help" class="link_black"><li>Help</li></a>
          <a href="/" class="link_black"><li>Logout</li></a>
        </ul>
      </nav>
      <nav class="menu hidden-mobile scrollbar" tabindex="0"  transition="slide-fade" >
        <a href="/">
        <div class="logo" ><img src="dist/logo_circle.svg" width="50px"></div>
        </a>
        <ul>
        <a href="/demo" v-on:click="show = !show" >
          <li class="brand">{{ brand }}&nbsp;&nbsp;&nbsp;<span v-bind:class="{ 'fa-caret-up': show}"class="fa fa-caret-down"></span></li>
        </a>
        <transition name="fade">
        <div v-if="show">
          <a href="#" v-scroll-to="'#Logo'"><li ><span  class="item">Logo</span></li></a>
          <a href="#" v-scroll-to="'#Assets'"><li ><span  class="item item-last">Assets</span></li></a>
          <a href="#" v-scroll-to="'#Documents'"><li ><span  class="item item-last">Documents</span></li></a>
          <a href="#" v-scroll-to="'#Artworks'"><li ><span  class="item item-last">Artworks</span></li></a>
          <a href="#" v-scroll-to="'#Printables'"><li ><span  class="item item-last">Printables</span></li></a>
        </div>
        </transition>
        </ul>
        <ul class="add-brand " @click="isComponentModalAddActive = true">
          <a href="#" ><li class="add-brand-padding"><span >Add Brand</span></li></a>
        </ul>
        <ul>
        <a href="#" class="link_black" @click="isComponentModalAddActiveuser = true"><li>Settings</li></a>
          <a href="/help" class="link_black"><li>Help</li></a>
          <a href="#" class="link_black" @click="logout()"><li>Logout</li></a>
        </ul>
      </nav>

      <b-modal :active.sync="isComponentModalAddActive" v-show="window" has-modal-card>
        <modal-add :modalvar="isComponentModalAddActive">
        </modal-add>
      </b-modal>
      <b-modal :active.sync="isComponentModalAddActiveuser" v-show="window" has-modal-card>
        <modal-user >
        </modal-user>
      </b-modal>
     </div> 
      
     <slot :sidebars="vshow"></slot>

  </div>
</template>

<script>

  import VLink from '../components/VLink.vue'
  import ModalAdd from '../pages/addbrand.vue'
  import ModalUser from '../pages/User.vue'
  import axios from 'axios'
  export default {

  props: [
    'vshow'
  ],
    components: {
      VLink,
      ModalAdd,
      ModalUser
    },
    data: function(){
        return {
          isComponentModalAddActive:false,
          isComponentModalAddActiveuser:false,
          show:true,  
          brand:"NEST I/O",
          username: localStorage.getItem("username"),
          token:localStorage.getItem("token"),
        }
      },
    methods:{
      logout(){
        axios({
          method: 'post',
          url: 'https://brandsaviouragain.azurewebsites.net/api/Account/Logout',
          headers: {
            'Content-Type':'application/json',
            'Authorization': 'Bearer ' + this.token,
          }
        })
        
        .then(response => {
          console.log(response)
          localStorage.clear();
        }).then(()=>{
          window.location.href = '/'
        })
        .catch(error => {
          console.log(error)
        })  
      }
    },
    beforeCreate() {
      if (localStorage.getItem("username") == undefined) {
         this.username = false;
         window.location.href = '/login';
      } 
      else if (this.username != undefined) {
        window.location.href = '/demo'
      }
    },
  }
</script>

<style scoped>

.not-active{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
   cursor: not-allowed;

}
.animation-content {
  width: 80% !important;
}
.container-view { position:relative; padding:0 0 0 260px; }
.logo{
  padding-left:  39px;
  padding-top: 22px;
  padding-bottom: 75px;
  width: 180px;
}

.menu {
  background-color: rgb(245, 247, 249);
  height: 100vh;
  width: 256px;
  position:fixed;
  top:0;  
  bottom:0; 
  left:0;
  overflow: scroll;
  overflow-y: unset;
  overflow-x: unset;
  -webkit-box-shadow: -2px 0px 15px 2px rgba(0,0,0,0.13);
  -moz-box-shadow: -2px 0px 15px 2px rgba(0,0,0,0.13);
  box-shadow: -2px 0px 15px 2px rgba(0,0,0,0.13);
}
.brand{
 color:#339ee6;
}
.item {
  margin-left: 10px;
  margin-bottom: 25px !important;
  color: rgb(106, 108, 111);
}

.menu ul {
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
  text-decoration: none;

}
.add-brand {
  background: transparent;
 border-bottom:solid 1.167px #e6e8eb;
  border-top:solid 1.167px #e6e8eb;
  
}
.add-brand a{
  text-decoration: none;
  color:#363636;
}
.add-brand a:hover{
  text-decoration: none;
  color:#339ee6 !important;
}
.add-brand li:after{
  float: right;
  position: relative;
  content: "+";
  margin-right:10px;
  font-weight: bold;
  font-size: 16px;

}
.add-brand-padding{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.add-brand-padding a:hover{
  color:#363636 !important; 
}
.menu ul li {
  padding-left: 45px;
  padding-bottom: 22px;
  font-size: 0.95em;
  transition: all 0.15s linear;
  cursor: pointer;

}
.menu a{
  text-decoration: none;
}
.menu a:hover{
  color:#339ee6;
}
.link_black{
  color: #1b2733;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
.fa-times{
  color:#cccccc !important;
}
@media screen and (max-width: 768px) {


    .hidden-mobile {
      display: none !important;
      visibility: hidden !important;
    }
    .container-view { position:relative; padding:0 0 0 0; }
}
@media only screen and (min-device-width: 520px) and (max-device-width: 768px) and (orientation:portrait) {
    .hidden-mobile-ipad {
        display: block !important; 
        visibility: visible !important; 
        z-index: 555;
      }
  .hidden-mobile-ipad-button {
        display: block !important; 
        visibility: visible !important; 
      }
    .ipad-button {
      position: absolute;
       margin:10px 0 0 260px;
      }
    }
  /*scoll bar*/
::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 34px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
  .fade{
    transition: all .3s ease;
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .0s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    display: none;
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
  .animation-content {
    width: 500px;
      max-width: 960px !important;
      max-height: 50% !important;
      overflow: scroll !important;
      overflow-y: hidden  !important;;
  }
</style>
